main ul {
    display: grid;
    gap: 0.5rem;
}

.link-list {
    margin: 0 0 0 1em;
    padding: 0;
    list-style: none;
}

.link-list li {
    padding-left: 0.5em;
    align-items: start;
}

.link-list li::marker {
    content: "▶";
}

.link-list ul li::marker {
    content: "★";
}

.link-list ul ul li::marker {
    content: "♥";
}

.link-list ul ul ul li::marker {
    content: "❣";
}