---
layout: main/changelogs
title: Website Layout Archive
desc: An archive for the page layout designs mt website has used.
changelogNav: Website Layouts
metadata:
    type: article
date: 2022-01-01
---

{%- from "macros/components.njk" import siteLayoutArchive -%}

{{ siteLayoutArchive({
    title: "11 September 2023 Blog Layout",
    screenshots: [
        {
            imgFile: "Leilukins-Hub-blog-layout-2023-09.png",
            imgAlt: "Leilukin's Hub blog on 11 September 2023"
        }
    ]
}) }}

{{ siteLayoutArchive({
    title: "23 June 2023",
    screenshots: [
        {
            imgFile: "Leilukins-Hub-layout-2023-06.png",
            imgAlt: "Leilukin's Hub home page on 23 June 2023"
        }
    ]
}) }}

{{ siteLayoutArchive({
    title: "26 January 2023",
    screenshots: [
        {
            imgFile: "Leilukins-Hub-layout-2023-01.png",
            imgAlt: "Leilukin's Hub home page on 26 January 2023"
        }
    ]
}) }}

{{ siteLayoutArchive({
    title: "11 September 2022 (Site Launch)",
    screenshots: [
        {
            imgFile: "Leilukins-Hub-layout-2022-index.png",
            imgAlt: "Leilukin's Hub index page during the site's launch on 11 September 2022"
        },
        {
            imgFile: "Leilukins-Hub-layout-2022-page.png",
            imgAlt: "Leilukin's Hub My Creation page during the site's launch on 11 September 2022"
        }
    ]
}) }}
