{%- css %}{% include "src/assets/css/asummersend.css" %}{%- endcss %}

{% extends "global/baselayout.njk" %}

{% block metaTitle %}
<meta property="og:title" content="{{ title + ' | ' if title }}A Summer’s End — Hong Kong 1986 Shrine">
{% endblock %}

{% block pageTitle %}
{{ title + " | " if title }}A Summer’s End — Hong Kong 1986 Shrine | {{ sitemeta.siteName | safe }}
{% endblock %}

{% block favicon %}
<link rel="icon" type="image/x-icon" href="/assets/shrines/asummersend/images/favicon.ico">
{% endblock %}

{% block hero %}{% include "asummersend/hero.njk" %}{% endblock %}
{% block navbar %}{% include "asummersend/navbar.njk" %}{% endblock %}
{% block footer %}{% include "asummersend/footer.njk" %}{% endblock %}
