{% extends "global/footer.njk" %}

{% block footerContent %}
    <p>Made with ♥ by {{ sitemeta.siteAuthor.name }} | Shrine Launched: 16 February 2023</p>
    <p><a href="/">Back to {{ sitemeta.siteName }}</a></p>
{% endblock %}

