{% extends "global/navbar.njk" %}

{% block navbarLinks %}
    <li><a href="/shrines/asummersend/">Shrine Home</a></li>
    <li><a href="/shrines/asummersend/playlists">Playlists</a></li>
    <li><a href="/shrines/asummersend/trivia">Trivia</a></li>
    <li><a href="/shrines/asummersend/gallery">Gallery</a></li>
    <li><a href="/">Main Site</a></li>
{% endblock %}