{% extends "global/navbar.njk" %}

{% block navbarLinks %}
    {% set shrineHomeUrl %}/shrines/asummersend/{% endset %}
    {% set currentUrl %}{{ page.url }}{% endset %}
    <li>
        <a {% if currentUrl === shrineHomeUrl %}aria-current="page"{% endif %} href="{{ shrineHomeUrl }}">Shrine Home</a>
    </li>
    {% for page in collections["a summers end shrine page"] %}
        <li>
            <a {% if currentUrl === page.url %}aria-current="page"{% endif %} href="{{ page.url }}">{{ page.data.title }}</a>
        </li>
    {% endfor %}
    <li><a href="/">Main Site</a></li>
{% endblock %}