<aside class="right-sidebar">
    <div class="sidebar-nav sidebar--sticky">
        <h2>About</h2>
        <p>Welcome to Leilukin's shrine for <cite>A Summer’s End — Hong Kong 1986</cite>, an indie visual novel developed by Oracle and Bone. Set in 1980s Hong Kong, it tells of a love story between two women.</p>
        <h3>Links</h3>
        <ul>
            <li><a href="https://www.asummersend.com/" target="_blank">Official Website</a>
            </li>
            <li><a href="https://store.steampowered.com/app/1111370/A_Summers_End__Hong_Kong_1986/" target="_blank">Steam</a></li>
            <li><a href="https://oracleandbone.itch.io/a-summers-end" target="_blank">itch.io</a></li>
        </ul>
    </div>
</aside>

<style>
    .right-sidebar {
        background-color: var(--clr-content-bg);
        font-size: clamp(0.9rem, 0.9rem + 3vw, 1rem);
    }

    .sidebar-nav {
        padding: 1rem;
    }

    .sidebar-nav h2 {
        font-size: clamp(1.5rem, 1rem + 3vw, 1.7rem);
        margin-bottom: 0.2em;
    }

    .sidebar-nav h3 {
        font-size: clamp(1.3rem, 1rem + 3vw, 1.5rem);
        margin-top: 1em;
    }

    .sidebar-nav ul {
        margin-top: 0.5em;
    }
</style>