{% extends "global/shrineinfo.njk" %}

{% block shrineAbout %}
    <p>Welcome to {{ sitemeta.siteAuthor.name }}'s shrine for {% cite "A Summer’s End — Hong Kong 1986" %}, an indie visual novel developed by Oracle and Bone. Set in 1980s Hong Kong, it tells of a love story between two women.</p>
{% endblock %}

{% block shrineLinks %}
    <li><a href="https://www.asummersend.com/">Official Website</a>
    </li>
    <li><a href="https://store.steampowered.com/app/1111370/A_Summers_End__Hong_Kong_1986/">Steam</a></li>
    <li><a href="https://oracleandbone.itch.io/a-summers-end">itch.io</a></li>
{% endblock %}
