<nav class="navbar">
    <ul class="nav__menu">
        <li><a href="/home">Home</a></li>
        <li><a href="/about/">About</a></li>
        <li><a href="/blog/">Blog</a></li>
        <li><a href="/articles/">Articles</a></li>
        <li><a href="/mycreations/">My Creations</a></li>
        <li><a href="/featured/">Featured</a></li>
        <li><a href="/resources/">Resources</a></li>
        <li><a href="/shrines/">Shrines</a></li>
        <li><a href="/links/">Links</a></li>
        <li><a href="https://leilukin.123guestbook.com/">Guestbook</a></li>
    </ul>
</nav>