<ul>
    <li>
        <a href=https://astroring.auroradynia.com/>astronomy webring</a>:
        <a href=https://nerdymug.neocities.org/>Previous Site</a>,
        <a href=https://mygrain.neocities.org/>Next Site</a>
    </li>
    <li>
        <a href=https://ballonlea.net/autiring/>Autists Online</a>:
        <a href=https://datoxicwaltz.neocities.org/>Previous Site</a>,
        <a href=https://draggianuniverse.neocities.org/>Next Site</a>
    </li>
    <li>
        <a href=https://webring.bucketfish.me>bucket webring</a>:
        <a href=https://webring.bucketfish.me/redirect.html?to=prev&name=Leilukin>Previous Site</a>,
        <a href=https://webring.bucketfish.me/redirect.html?to=next&name=Leilukin>Next Site</a>
    </li>
    <li>
        <a href=https://cs.sjoy.lol/>CSS JOY Webring</a>:
        <a href=https://webri.ng/webring/cssjoy/previous?via=https://leilukin.com/ class="external-link">Previous Site</a>,
        <a href=https://webri.ng/webring/cssjoy/random?via=https://leilukin.com/ class="external-link">Random Site</a>,
        <a href=https://webri.ng/webring/cssjoy/next?via=https://leilukin.com/ class="external-link">Next Site</a>
    </li>
    <li>
        <a href=https://ikaroll.neocities.org/dsring/>DSRing</a>:
        <a href=https://jirachis.neocities.org/>Previous Site</a>,
        <a href=https://poble.cl/>Next Site</a>
    </li>
    <li>
        <a href=https://testtubesterone.nekoweb.org/pages/dykenet/>DykeNet</a>:
        <a href=https://idolum.nekoweb.org/>Previous Site</a>,
        <a href=https://mintchipdotcom.neocities.org/>Next Site</a>
    </li>
    <li>
        <a href=https://eggring.neocities.org/>The Eggring</a>:
        <a href=https://confetticake.neocities.org/>Previous Site</a>,
        <a href=https://thecozy.cat/>Next Site</a>
    </li>
    <li>
        <a href=https://fediring.net/>Fediring</a>:
        <a href=https://fediring.net/previous?host=leilukin.com class="external-link">Previous Site</a>,
        <a href=https://fediring.net/random>Random Site</a>,
        <a href=https://fediring.net/next?host=leilukin.com class="external-link">Next Site</a>
    </li>
    <li>
        <a href=https://www.beepbird.net/webring/index.html>Focus First Webring</a>:
        <a href=https://foreverliketh.is/>Previous Site</a>,
        <a href=https://www.write-on.org/>Next Site</a>
    </li>
    <li>
        <a href=https://ghostring.neocities.org/>Ghostring</a>:
        <a href=https://ghostring.neocities.org/leilukin/previous>Previous Site</a>,
        <a href=https://ghostring.neocities.org/leilukin/next>Next Site</a>
    </li>
    <li>
        <a href=https://xn--sr8hvo.ws>IndieWeb Webring</a>:
        <a href=https://xn--sr8hvo.ws/previous>Previous Site</a>,
        <a href=https://xn--sr8hvo.ws/next>Next Site</a>
    </li>
    <li>
        <a href=https://nenrikido.neocities.org/webrings/journalring/>JournalRing</a>:
        <a href=https://radiolights.neocities.org/>Previous Site</a>,
        <a href=https://starry-knight.neocities.org/>Next Site</a>
    </li>
    <li>
        <a href=https://meta-ring.hedy.dev/>Meta Ring</a>:
        <a href=https://meta-ring.hedy.dev/previous>Previous Site</a>,
        <a href=https://meta-ring.hedy.dev/random>Random Site</a>,
        <a href=https://meta-ring.hedy.dev/next>Next Site</a>
    </li>
    <li>
        <a href=https://isaacfish.neocities.org/webring/>Queer Coded Webring</a>:
        <a href=https://isaacfish.neocities.org/webring/25.html>Previous Site</a>,
        <a href=https://isaacfish.neocities.org/webring/27.html>Next Site</a>
    </li>
    <li>
        <a href=https://webring.dinhe.net/ class="external-link">The retronaut webring</a>:
        <a href=https://webring.dinhe.net/prev/https://leilukin.com/ class="external-link">Previous Site</a>,
        <a href=https://webring.dinhe.net/next/https://leilukin.com/ class="external-link">Next Site</a>
    </li>
    <li>
        <a href=https://mxbo.neocities.org/rss/ring>RSS Webring</a>:
        <a href=https://webri.ng/webring/rssring/previous?via=https://leilukin.com>Previous Site</a>,
        <a href=https://webri.ng/webring/rssring/random?via=https://leilukin.com>Random Site</a>,
        <a href=https://webri.ng/webring/rssring/next?via=https://leilukin.com>Next Site</a>
    </li>
    <li>
        <a href=https://safonts.club/>The Safonts Webring</a>:
        <a href=https://safonts.club/prev/leilukin.com>Previous Site</a>,
        <a href=https://safonts.club/random>Random Site</a>,
        <a href=https://safonts.club/next/leilukin.com>Next Site</a>
    </li>
    <li>
        <a href=https://silly.city/>silly city</a>:
        <a href=https://silly.city/prev?user=leilukin>Previous Site</a>,
        <a href=https://silly.city/random>Random Site</a>,
        <a href=https://silly.city/next?user=leilukin>Next Site</a>
    </li>
    <li>
        <a href=https://zacharykai.net/lists/starwars>Star Wars Webring</a>:
        <a href=https://zacharykai.net/lists/starwars?action=prev>Previous Site</a>,
        <a href=https://zacharykai.net/lists/starwars?action=random>Random Site</a>,
        <a href=https://zacharykai.net/lists/starwars?action=next>Next Site</a>
    </li>
    <li>
        <a href=https://fabled.day/verbosity/>Verbosity</a>:
        <a href=https://ballonlea.net/>Previous Site</a>,
        <a href=https://snowibunni.neocities.org/>Next Site</a>
    </li>
    <li>
        <a href=https://webmasterwebring.netlify.app/>Webmaster Webring</a>:
        <a href=https://webmasterwebring.netlify.app?leilukin-previous>Previous Site</a>
        <a href=https://webmasterwebring.netlify.app?leilukin-random>Random Site</a>
        <a href=https://webmasterwebring.netlify.app?leilukin-next>Next Site</a>
    </li>
</ul>
