---
layout: main/changelogs
title: Changelogs
pageTitle: Website Changelogs
desc: Changelogs of my website.
metadata:
    type: article
pagination:
    data: collections["changelogs"]
    size: 20
    alias: changelogs
    reverse: true
permalink: "/{{ page.fileSlug }}{% if pagination.pageNumber > 0 %}/page/{{ pagination.pageNumber + 1 }}{% endif %}/"
eleventyNavigation:
    key: Changelogs
    order: 9
---

<h2>Latest Changelogs</h2>
{% for log in changelogs %}
    <h3 class="date-style">{{ log.data.date | formatDate }}</h3>
    {{ log.templateContent | safe }}
{%- endfor %}

{% include "global/pagination-oldnew.njk" %}
