@import url(/main.css);

:root {
    --body-bg-color: #212121;
    /* --body-bg-image: url('/assets/starsforever.gif'); */
    --body-font-color: #fceaff;
    --content-bg-color: #000000;

    --main-heading-color: #ffc400;
    --sub-heading-color: #ffc400;
    --title-border-color: #ffe387;

    --bold-font-color: #ff9933;
    --link-color: #bb9671;
    --link-hover-color: #94575a;
    --quote-bg: #2f2d2d;
    --quote-border-color: #4d4385;

    --code-bg-color: #241445;
    --code-border-color: #e4dbbe;

    --link-btn-bg: #873eb5;
    --link-btn-text: white;
    --link-btn-hover: #241445;

    --header-bg-color: black;
    --nav-bg: #1c1c1c;
    --nav-link: white;
    --nav-submenu-active: #111;
    --nav-item-hover: #ccc;

    --top-btn-bg: #251347;
    --top-btn-icon: #d3aad5;

    --footer-bg: #1c1c1c;
}

header img {
    object-fit: cover;
    object-position: center;
    height: 100%;
}

.juhani-history {
    font-weight: 700;
    color: rgb(213, 98, 255);
}

.juhani-personal {
    font-weight: 700;
    color: rgb(255, 122, 206);
}