<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        {# Meta data #}
        <meta property="og:title" content="{% if title %}{{ title }}{% else %}{{ sitemeta.siteName }}{% endif %}">
        {% include "global/metagen.njk" %}

        {# Feeds #}
        {% include "global/feeds.njk" %}

        {# Style #}
        {% include "global/fontdefault.njk" %}
        <link rel="stylesheet" href="/assets/css/misc.css">

        {# Favicon #}
        {% include "global/favicon.njk" %}

        <title>{% if title %} {{ title }} | {% endif %} {{ sitemeta.siteName }}</title>
    </head>
    <body>
        <main>
            <img src="/assets/leilukin/Leilukins-Hub-website-banner.avif" alt="{{ sitemeta.siteName }} website banner">
            <h1>{{ h1 }}</h1>

            {{ content | safe }}
        </main>
    </body>
</html>