---
title: Joined
date: 2023-01-29
---

<h3>Web Cliques</h3>
{% include "main/webcliques.njk" %}

<h3>Fanlistings</h3>
<p>Check out <a href="https://fan.leilukin.com/">Beehive, my fanlisting collective</a> to see all the fanlistings I own, have joined or have applied to join.</p>

<h3>Webrings</h3>
<ul class="web-btn-wrapper">
    <li>
        <div id="autiring">
            <script type="text/javascript" src="https://macaque.moe/autiring/onionring-variables.js"></script>
            <script type="text/javascript" src="https://macaque.moe/autiring/onionring-widget.js"></script>
        </div>
    </li>
    <li>
        <iframe id="bucket-webring" style="width: 100%; height: 3rem; border: none;" src="https://webring.bucketfish.me/embed.html?name=Leilukin"></iframe>
    </li>
    <li>
        <nav class="webring" aria-labelledby="css-joy-name">
            <p class="webring__name" id="css-joy-name"><a href="https://cs.sjoy.lol/">CSS JOY Webring</a></p>
            <ul class="webring__links">
                <li class="webring__link">
                    <a class="external-link" href="https://webri.ng/webring/cssjoy/previous?via=https://leilukin.com/">Previous Site</a>
                </li>
                <li class="webring__link">
                    <a class="external-link" href="https://webri.ng/webring/cssjoy/random?via=https://leilukin.com/">Random Site</a>
                </li>
                <li class="webring__link">
                    <a class="external-link" href="https://webri.ng/webring/cssjoy/next?via=https://leilukin.com/">Next Site</a>
                </li>
            </ul>
        </nav>
    </li>
    <li>
        <link rel="stylesheet" href="https://crtstatic.neocities.org/dsring/onion/onionring.css">
        <div id='dsring'>
            <script type="text/javascript" src="https://crtstatic.neocities.org/dsring/onion/onionring-variables.js"></script>
            <script type="text/javascript" src="https://crtstatic.neocities.org/dsring/onion/onionring-widget.js"></script>
        </div>
    </li>
    <li>
        <div id='DykeWrite-Web2'> <script type="text/javascript" src="https://dykewrite.neocities.org/webring/onionring-variables.js"></script> <script type="text/javascript" src="https://dykewrite.neocities.org/webring/onionring-widget.js"></script> </div>
        <link rel="stylesheet" href="https://dykewrite.neocities.org/webring/onionring.css">
    </li>
    <li>
        <script src="https://eggring.neocities.org/js/hatring.js"></script><script src="https://eggring.neocities.org/js/eggring-config.js"></script>
        <script>
            document.addEventListener("DOMContentLoaded", function() { eggring.createLinks(); });
        </script>
        <nav class="webring" aria-labelledby="eggring-name">
            <p class="webring__name" id="eggring-name">🥚 <a id="eggringIndex" href="https://eggring.neocities.org/">The Eggring</a> 🥚</p>
            <ul class="webring__links">
                <li class="webring__link">
                    <a id="eggringPrev" href="https://confetticake.neocities.org/">Previous Site</a>
                </li>
                <li class="webring__link">
                    <a id="eggringRand">Random Site</a>
                </li>
                <li class="webring__link">
                    <a id="eggringNext" href="https://thecozy.cat/">Next Site</a>
                </li>
            </ul>
        </nav>
    </li>
    <li>
        <nav class="webring" aria-labelledby="fediring-name">
            <p class="webring__name" id="fediring-name"><a href="https://fediring.net/">Fediring</a></p>
            <ul class="webring__links">
                <li class="webring__link">
                    <a class="external-link" href="https://fediring.net/previous?host=leilukin.com" class="external-link">Previous Site</a>
                </li>
                <li class="webring__link">
                    <a class="external-link" href="https://fediring.net/random">Random Site</a>
                </li>
                <li class="webring__link">
                    <a class="external-link" href="https://fediring.net/next?host=leilukin.com" class="external-link">Next Site</a>
                </li>
            </ul>
        </nav>
    </li>
    <li>
        <div id='focusfirst-webring'>
            <script type="text/javascript" src="https://owlsroost.xyz/webring/onionring-variables.js"></script>
            <script type="text/javascript" src="https://owlsroost.xyz/webring/onionring-widget.js"></script>
            <noscript><a href='https://owlsroost.xyz/index.html'><img src="https://owlsroost.xyz/webring/focusfirst.png" alt="Focus First Index"></a></noscript>
        </div>
    </li>
    <li>
        <nav class="webring" aria-labelledby="ghostring-name">
            <p class="webring__name" id="ghostring-name"><a href="https://ghostring.neocities.org/">Ghostring</a></p>
            <ul class="webring__links">
                <li class="webring__link">
                    <a href="https://ghostring.neocities.org/leilukin/previous">Previous Site</a>
                </li>
                <li class="webring__link">
                    <a href="https://ghostring.neocities.org/leilukin/next">Next Site</a>
                </li>
            </ul>
        </nav>
    </li>
    <li>
        <nav class="webring" aria-labelledby="indieweb-webring-name">
            <p class="webring__name" id="indieweb-webring-name">An <a href="https://xn--sr8hvo.ws">IndieWeb Webring</a> 🕸💍</p>
            <ul class="webring__links">
                <li class="webring__link">
                    <a href="https://xn--sr8hvo.ws/previous">Previous Site</a>
                </li>
                <li class="webring__link">
                    <a href="https://xn--sr8hvo.ws/next">Next Site</a>
                </li>
            </ul>
        </nav>
    </li>
    <li>
        <journal-ring icon="lavender"></journal-ring><script async src="https://cdn.jsdelivr.net/gh/js044/nenrikido@main/static/js/misc/journalring.js"></script>
    </li>
    <li>
        <nav class="webring" aria-labelledby="loopring-name">
            <p class="webring__name" id="loopring-name"><a href="https://loop.graycot.dev/webring.html?action=home">Loop Ring</a></p>
            <ul class="webring__links">
                <li class="webring__link">
                    <a href="https://loop.graycot.dev/webring.html?action=prev">Previous Site</a>
                </li>
                <li class="webring__link">
                    <a href="https://loop.graycot.dev/webring.html?action=list">Members</a>
                </li>
                <li class="webring__link">
                    <a href="https://loop.graycot.dev/webring.html?action=rand">Random Site</a>
                </li>
                <li class="webring__link">
                    <a href="https://loop.graycot.dev/webring.html?action=next">Next Site</a>
                </li>
            </ul>
        </nav>
    </li>
    <li>
        <div style="border: none; display: inline-flex">
            <a href="https://isaacfish.neocities.org/webring/25.html">
                <img src="/assets/buttons/webrings/queercoded-left.png" alt="left arrow" loading="lazy">
            </a>&nbsp;
            <a href="https://isaacfish.neocities.org/webring/">
                <img src="/assets/buttons/webrings/queercoded.png" alt="queer coded webring"loading="lazy">
            </a>&nbsp;
            <a href="https://isaacfish.neocities.org/webring/27.html">
                <img src="/assets/buttons/webrings/queercoded-right.png" alt="right arrow" loading="lazy">
            </a>
        </div>
    </li>
    <li>
        <nav class="webring" aria-labelledby="retronaut-name">
            <p class="webring__name" id="retronaut-name"><a href="https://ghostring.neocities.org/">The retronaut webring</a></p>
            <ul class="webring__links">
                <li class="webring__link">
                    <a class="external-link" href="https://webring.dinhe.net/prev/https://leilukin.com/">Previous Site</a>
                </li>
                <li class="webring__link">
                    <a class="external-link" href="https://webring.dinhe.net/next/https://leilukin.com/">Next Site</a>
                </li>
            </ul>
        </nav>
    </li>
    <li>
        <script src="https://xandra.cc/safonts/webring.js"></script>
        <ring-900 site="https://leilukin.com/"></ring-900>
    </li>
    <li>
        <iframe src="https://silly.city/embed.html?user=Leilukin" title="silly.city webring" frameborder="no"></iframe>
    </li>
    <li>
        <script src="https://sitesforpalestine.neocities.org/ring.js"></script>
    </li>
    <li>
        <script src="https://transring.neocities.org/ring.js" data-widget="nb"></script>
    </li>
</ul>