---
title: Websites
date: 2023-01-28
---

{%- macro siteButton(url, file, alt, tooltip=alt, width=88, height=31) -%}
    <li class="tipcontainer">
        <a href="{{ url }}" class="tipactivator">
            <img src="/assets/buttons/{{ file }}" alt="{{ alt }}" width="{{ width }}" height="{{ height }}" loading="lazy">
        </a>
        <p class="tooltip">{{ tooltip }}</p>
    </li>
{%- endmacro -%}

<h3>Personal Sites I Enjoy</h3>

<ul class="web-btn-wrapper">
    {{ siteButton("https://karuma.me/", "sites/10kph.png", "10kph") }}
    {{ siteButton("https://www.autisticasfxxk.com/", "sites/autisticasfxxk.gif", "Autistic As Fxxk") }}
    {{ siteButton("ttps://divergentrays.com/", "sites/divergentrays.png", "Divergent Rays") }}
    {{ siteButton("https://cyberneticdryad.neocities.org/", "sites/dryadglen.png", "Dryad Glen") }}
    {{ siteButton("https://frills.dev/", "sites/frills.png", "Frills") }}
    {{ siteButton("https://groundedwren.com/", "sites/groundedwren.png", "Grounded Wren") }}
    {{ siteButton("https://jasm1nii.xyz/", "sites/jasminesjournal.png", "jasmine's journal") }}
    {{ siteButton("https://jefbecker.com/", "sites/jefbecker.png", "JEFBECKER") }}
    {{ siteButton("https://kalechips.net/", "sites/kalechips.png", "Kalechips") }}
    {{ siteButton("https://lostletters.neocities.org/", "sites/lostletters.gif", "Lost Letters") }}
    {{ siteButton("https://macaque.moe/", "sites/macaque.png", "Macaque") }}
    {{ siteButton("https://mycorrhiza.space/", "sites/mycorrhiza.png", "Mycorrhiza's Space") }}
    {{ siteButton("https://owlsroost.xyz/", "sites/owlsroost.gif", "Owl's Roost") }}
    {{ siteButton("https://pinkvampyr.leprd.space/", "sites/pinkvampyr.gif", "Pinkvampyr") }}
    {{ siteButton("https://sanguineroyal.com/", "sites/sanguineroyal.gif", "Sanguine Royal") }}
    {{ siteButton("https://solaria.neocities.org/", "sites/solaria.png", "Solaria's Webspace") }}
    {{ siteButton("https://starbreaker.org/", "sites/starbreaker.avif", "🤘 starbreaker.org 🤘") }}
    {{ siteButton("https://symliadoo.com/", "sites/symliadoo.png", "sym's living room 🍨") }}
    {{ siteButton("https://whiona.me/", "sites/whiona.png", "Whiona") }}
    {{ siteButton("https://xandra.cc/", "sites/xandra.png", "Museum of Alexandra") }}
</ul>

<h3>Link Exchanges</h3>
<ul>
    <li><a href="https://theretrosaga.com/">The Retro Saga</a></li>
</ul>

<h3>Directories</h3>
<ul class="web-btn-wrapper">
    {{ siteButton("https://pinkvampyr.leprd.space/accessiblenet/", "directories/accessiblenet.png", "Accessibility Net Directory") }}
    {{ siteButton("https://bukmark.club/", "directories/bukmarkclub.png", "BUKMARK.CLUB") }}
    {{ siteButton("https://indieseek.xyz/", "directories/indieseek.png", "Indieseek.xyz Indie Web Directory") }}
    {{ siteButton("https://linklane.net/", "directories/linklane.png", "Link Lane") }}
    {{ siteButton("https://list-me.com/", "directories/list-me.png", "List-Me.com") }}
    {{ siteButton("https://kalechips.net/responsive/", "directories/responsiveweb.png", "Responsive Web Directory") }}
    {{ siteButton("https://smoothsailing.asclaria.org/", "directories/smoothsailing.png", "Smooth Sailing Listings") }}
</ul>

<h3>Communities</h3>
<ul class="web-btn-wrapper">
    {{ siteButton("https://32bit.cafe/", "communities/32-bit-cafe.png", "32-Bit Cafe") }}
    {{ siteButton("https://zine.kalechips.net/index", "communities/saladmagazine.png", "Salad Magazine") }}
</ul>

<h3>Fanlistings</h3>
<p>Check out <a href="https://fan.leilukin.com/">Beehive, my fanlisting collective</a> to see all the fanlistings I own, have joined or have applied to join.</p>

<h3>Webrings</h3>
<ul class="web-btn-wrapper">
    <li>
        <div id='autiring'>
            <script type="text/javascript" src="https://macaque.moe/autiring/onionring-variables.js"></script>
            <script type="text/javascript" src="https://macaque.moe/autiring/onionring-textwidget.js"></script>
        </div>
    </li>
    <li>
        <iframe id="bucket-webring" style="width: 100%; height: 3rem; border: none;" src="https://webring.bucketfish.me/embed.html?name=Leilukin"></iframe>
    </li>
    <li>
        <nav class="webring">
            <p class="webring__name"><a href="https://cs.sjoy.lol/">CSS JOY Webring</a></p>
            <ul class="webring__links">
                <li class="webring__link">
                    <a href="https://webri.ng/webring/cssjoy/previous?via=https://leilukin.com/">Previous Site</a>
                </li>
                <li class="webring__link">
                    <a href="https://webri.ng/webring/cssjoy/random?via=https://leilukin.com/">Random Site</a>
                </li>
                <li class="webring__link">
                    <a href="https://webri.ng/webring/cssjoy/next?via=https://leilukin.com/">Next Site</a>
                </li>
            </ul>
        </nav>
    </li>
    <li>
        <div id='DykeWrite-Web2'> <script type="text/javascript" src="https://dykewrite.neocities.org/webring/onionring-variables.js"></script> <script type="text/javascript" src="https://dykewrite.neocities.org/webring/onionring-widget.js"></script> </div>
        <link rel="stylesheet" href="https://dykewrite.neocities.org/webring/onionring.css">
    </li>
    <li>
        <div id='focusfirst-webring'>
            <script type="text/javascript" src="https://owlsroost.xyz/webring/onionring-variables.js"></script>
            <script type="text/javascript" src="https://owlsroost.xyz/webring/onionring-widget.js"></script>
            <noscript><a href='https://owlsroost.xyz/index.html'><img src="https://owlsroost.xyz/webring/focusfirst.png" alt="Focus First Index"></a></noscript>
        </div>
    </li>
    <li>
        <journal-ring icon="lavender"></journal-ring><script async src="https://cdn.jsdelivr.net/gh/js044/nenrikido@main/static/js/misc/journalring.js"></script>
    </li>
    <li>
        <div style="border: none; display: inline-flex">
            <a href="https://isaacfish.neocities.org/webring/25.html">
                <img src="/assets/buttons/webrings/queercoded-left.png" alt="left arrow" loading="lazy">
            </a>&nbsp;
            <a href="https://isaacfish.neocities.org/webring/">
                <img src="/assets/buttons/webrings/queercoded.png" alt="queer coded webring"loading="lazy">
            </a>&nbsp;
            <a href="https://isaacfish.neocities.org/webring/27.html">
                <img src="/assets/buttons/webrings/queercoded-right.png" alt="right arrow" loading="lazy">
            </a>
        </div>
    </li>
    <li>
        <iframe src="https://silly.city/embed.html?user=Leilukin" title="silly.city webring" frameborder="no"></iframe>
    </li>
    <li>
        <script src="https://transring.neocities.org/ring.js" data-widget="nb"></script>
    </li>
</ul>