---
title: Websites
date: 2023-01-28
---

{%- macro siteButton(url, file, alt, tooltip=alt, width=88, height=31) -%}
    <li data-tooltip>
        <a href="{{ url }}" data-tooltip-trigger title="{{ tooltip }}">
            <img src="/assets/buttons/{{ file }}" alt="{{ alt }}" width="{{ width }}" height="{{ height }}" loading="lazy">
        </a>
    </li>
{%- endmacro -%}

{% headingAnchor 3 %}Personal Sites I Enjoy{% endheadingAnchor %}

<h4 class="visually-hidden">Websites with Buttons</h4>
<ul class="web-graphics">
    {{ siteButton("https://karuma.me/", "sites/10kph.png", "10kph") }}
    {{ siteButton("https://alyaza.neocities.org/", "sites/alyaza.gif", "alyaza's birzeblog") }}
    {{ siteButton("https://www.autisticasfxxk.com/", "sites/autisticasfxxk.gif", "Autistic As Fxxk") }}
    {{ siteButton("https://www.beepbird.net/", "sites/beepbird.gif", "Beep Bird") }}
    {{ siteButton("https://chrisburnell.com/", "sites/chrisburnell.gif", "Chris Burnell") }}
    {{ siteButton("https://divergentrays.com/", "sites/divergentrays.png", "Divergent Rays") }}
    {{ siteButton("https://cyberneticdryad.neocities.org/", "sites/dryadglen.png", "Dryad Glen") }}
    {{ siteButton("https://frills.dev/", "sites/frills.png", "Frills") }}
    {{ siteButton("https://your-local-grubdog.neocities.org/", "sites/grubdog.png", "A piece of pixel art - on the left is text that says the grub dog and on the right is a fuzzy brown creature with light brown horns and blue eyes. The background is light blue with dark blue spots. A visual trick is used to make it look like the image is casting a shadow against the web page.", "Grubdog") }}
    {{ siteButton("https://groundedwren.com/", "sites/groundedwren.png", "Grounded Wren") }}
    {{ siteButton("https://jasm1nii.xyz/", "sites/jasminesjournal.png", "jasmine's journal") }}
    {{ siteButton("https://jefbecker.com/", "sites/jefbecker.png", "JEFBECKER") }}
    {{ siteButton("https://kalechips.net/", "sites/kalechips.png", "Kalechips") }}
    {{ siteButton("https://amalinalai.github.io/precipice/", "sites/lina.gif", "lina's home") }}
    {{ siteButton("https://lostletters.neocities.org/", "sites/lostletters.gif", "Lost Letters") }}
    {{ siteButton("https://macaque.moe/", "sites/macaque.png", "Macaque") }}
    {{ siteButton("https://manyface.neocities.org/", "sites/manyface.png", "manyface world") }}
    {{ siteButton("https://mycorrhiza.space/", "sites/mycorrhiza.png", "Mycorrhiza's Space") }}
    {{ siteButton("https://pinkvampyr.leprd.space/", "sites/pinkvampyr.gif", "Pinkvampyr") }}
    {{ siteButton("https://ribo.zone/", "sites/ribose.png", "Ribose") }}
    {{ siteButton("https://sakuradreams.neocities.org/", "sites/sakuradreams.gif", "Sakura Dreams") }}
    {{ siteButton("https://sanguineroyal.com/", "sites/sanguineroyal.gif", "Sanguine Royal") }}
    {{ siteButton("https://solaria.neocities.org/", "sites/solaria.png", "Solaria's Webspace") }}
    {{ siteButton("https://starbreaker.org/", "sites/starbreaker.avif", "🤘 starbreaker.org 🤘") }}
    {{ siteButton("https://symliadoo.com/", "sites/symliadoo.png", "sym's living room 🍨") }}
    {{ siteButton("https://whiona.me/", "sites/whiona.png", "Whiona") }}
    {{ siteButton("https://wings.nu/", "sites/wings.png", "Wings.NU") }}
    {{ siteButton("https://xandra.cc/", "sites/xandra.png", "Museum of Alexandra") }}
</ul>
<h4 class="visually-hidden">Websites without Buttons</h4>
<ul class="inline-list">
    <li><a href="https://www.eladnarra.com/">eladnarra's site</a></li>
    <li><a href="https://sarajoy.dev/">Sara Joy</a></li>
    <li><a href="https://saturn.town/">saturn town</a></li>
    <li><a href="https://stitchmediamix.com/">Stitch’s Media Mix</a></li>
    <li><a href="https://blog.hypertext.city/">Walk with me for a moment</a></li>
    <li><a href="https://yequari.com/">yequari.com</a></li>
</ul>

{% headingAnchor 3 %}Link Exchanges{% endheadingAnchor %}
<ul class="inline-list">
    <li><a href="https://theretrosaga.com/">The Retro Saga</a></li>
</ul>

{% headingAnchor 3 %}Web Directories{% endheadingAnchor %}
<h4 class="visually-hidden">Directories with Site Buttons</h4>
<ul class="web-graphics">
    {{ siteButton("https://pinkvampyr.leprd.space/accessiblenet/", "directories/accessiblenet.png", "Accessibility Net Directory") }}
    {{ siteButton("https://bukmark.club/", "directories/bukmarkclub.png", "BUKMARK.CLUB") }}
    {{ siteButton("https://indieseek.xyz/", "directories/indieseek.png", "Indieseek.xyz Indie Web Directory") }}
    {{ siteButton("https://linklane.net/", "directories/linklane.png", "Link Lane") }}
    {{ siteButton("https://list-me.com/", "directories/list-me.png", "List-Me.com") }}
    {{ siteButton("https://kalechips.net/responsive/", "directories/responsiveweb.png", "Responsive Web Directory") }}
    {{ siteButton("https://smoothsailing.asclaria.org/", "directories/smoothsailing.png", "Smooth Sailing Listings") }}
</ul>
<h4 class="visually-hidden">Directories without Site Buttons</h4>
<ul class="inline-list">
    <li>👻 Proud member of <a href="https://darktheme.club/">darktheme.club</a> 👻</li>
    <li><a href="https://personalsit.es/">PersonalSit.es</a></li>
</ul>

{% headingAnchor 3 %}Communities{% endheadingAnchor %}
<ul class="web-graphics">
    {{ siteButton("https://32bit.cafe/", "communities/32-bit-cafe.png", "32-Bit Cafe") }}
    {{ siteButton("https://zine.kalechips.net/index", "communities/saladmagazine.png", "Salad Magazine") }}
</ul>