<aside class="right-sidebar">
    <nav class="blog__nav">
        <h2 class="blog__nav--title">Navigation</h2>
        <ul class="blog__nav--links">
            {% for page in collections["blog pages"] %}
                <li><a href="{{ page.url }}">{{ page.data.blogNav or page.data.title }}</a></li>
            {% endfor %}
        </ul>
    </nav>
</aside>

<style>
    .blog__nav {
        position: sticky;
        top: 4rem;
    }
</style>