.index-link {
    font-size: 1.6rem;
}

.psa {
    font-weight: 700;
    font-size: 1.4rem;
}

.mod-entry {
    background: #241445;
    max-width: 900px;
    position:relative;
    margin: 1em 0;
    padding: 1em 1.5em 1.5em 1.5em;
}

.filter-div {
    display: none; /* Hidden by default */
}

/* The "show-items" class is added to the filtered elements */
.show-items {
    display: block;
  }
  
.filter-btn {
    border: none;
    outline: none;
    padding: 0.75rem 1rem;
    margin: 0.1875rem 0;
    background-color: #d3aad5;
    color: #241445;
    cursor: pointer;
    font-weight: 800;
    font-size: 1.1rem;
}

.filter-btn:hover {
    background-color: #d5c2d6;
}

.filter-btn.active {
    background-color: #241445;
    color: #ED64F5;
}