@import url("/main.css");

.indexLink {
    font-size: 1.6rem;
}

.psa {
    font-weight: 700;
    font-size: 1.4rem;
}

.mod-entry {
    background: #241445;
    max-width: 850px;
    position:relative;
    margin: 1em 0;
    padding: 1em 1.5em 1.5em 1.5em;
}

.mod-list {
    overflow: hidden;
}

.filterDiv {
    display: none; /* Hidden by default */
}

/* The "show" class is added to the filtered elements */
.show {
    display: block;
  }
  
.filterBtn {
    border: none;
    outline: none;
    padding: 12px 16px;
    margin: 3px 0;
    background-color: #d3aad5;
    color: #241445;
    cursor: pointer;
    font-weight: 600;
    font-size: 1.1rem;
}

.filterBtn:hover {
    background-color: #d5c2d6;
}

.filterBtn.active {
    background-color: #241445;
    color: #ED64F5;
}

.linkBtn {
    font: 1.3rem 'Source Sans Pro', Arial, sans-serif;
    border: 2px solid #BA6FE8;
    border-radius: 10px;
    padding: 12px 16px;
    margin: 0.25em 0.15em;
    background-color: #241445;
    color: #BA6FE8;
    cursor: pointer;
    font-weight: 700;
    text-transform: uppercase;
  }
  
.linkBtn:hover {
    cursor:pointer;
    color: white;
    background-color: #BA6FE8;
    transition: 0.5s;
}