{%- css %}{% include "src/assets/css/pokemonoras.css" %}{%- endcss %}

{% extends "global/baselayout.njk" %}

{% block metaTitle %}
<meta property="og:title" content="{{ title + ' | ' if title }}Pokémon Omega Ruby and Alpha Sapphire Shrine">
{% endblock %}

{% block pageTitle %}
{{ title + " | " if title }}Pokémon Omega Ruby and Alpha Sapphire Shrine | {{ sitemeta.siteName | safe }}
{% endblock %}

{% block favicon %}
<link rel="apple-touch-icon" sizes="180x180" href="/assets/shrines/pokemonoras/images/ORAS_Demo_icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/shrines/pokemonoras/images/ORAS_Demo_icon.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/shrines/pokemonoras/images/ORAS_Demo_icon.png">
<link rel="manifest" href="/assets/favicon/site.webmanifest">
{% endblock %}

{% block hero %}{% include "pokemonoras/hero.njk" %}{% endblock %}
{% block navbar %}{% include "pokemonoras/navbar.njk" %}{% endblock %}
{% block footer %}{% include "pokemonoras/footer.njk" %}{% endblock %}
