<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <meta property="og:url" content="https://leilukin.neocities.org/">
        <meta property="og:type" content="website">
        <meta property="og:title" content="Leilukin's Hub">
        <meta property="og:description" content="Welcome to Leilukin's personal website">

        <link rel="stylesheet" href="{{'/assets/css/index.css' | url | safe}}" type="text/css" media="all">

        <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">
        <link rel="manifest" href="/assets/favicon/site.webmanifest">

        <title>{% if title %} {{ title }} | {% endif %} Leilukin's Hub</title>
    </head>
    <body>
        <main>
            <img src="/assets/leilukin/Leilukins-Hub-website-banner.png" alt="Leilukin's Hub website banner">
            <h1>{{ h1 }}</h1>

            {{ content | safe }}
        </main>
    </body>
</html>