@import url(/main.css);

:root {
    --body-bg-color: #1f0033;
    /* --body-bg-image: url('/assets/starsforever.gif'); */
    --body-font-color: #fceaff;
    --content-bg-color: #000000;

    --main-heading-color: #FF29D8;
    --sub-heading-color: #FF29D8;
    --title-border-color: #d3aad5;

    --bold-font-color: #ff9933;
    --link-color: #d270ff;
    --link-hover-color: #7E4197;
    --quote-bg: #222121;
    --quote-border-color: #4d4385;

    --code-bg-color: #241445;
    --code-border-color: #82668f;

    --link-btn-bg: #873eb5;
    --link-btn-text: white;
    --link-btn-hover: #241445;

    --header-bg-color: black;
    --nav-bg: #101010;
    --nav-link: white;
    --nav-submenu-active: #111;
    --nav-item-hover: #ccc;

    --top-btn-bg: #251347;
    --top-btn-icon: #d3aad5;

    --footer-bg: #101010;
}

header img {
    object-fit: cover;
    object-position: top;
    height: 100%;
}