/* ------------------- */
/* Custom Properties   */
/* ------------------- */
:root {
    --clr-body-bg: #08031A;
    --clr-body-txt: #fceaff;
    --clr-h1: #BA6FE8;
    --clr-link-btn-bg: #7A37A3;
    --clr-link-btn-hover: #BA6FE8;

    --ff-default: 'Lexend';

    --fs-h1: clamp(2rem, 1.5rem + 5vw, 3.5rem);
    --fs-p: 1.25rem;
    --fs-link-btn: clamp(1.55rem, 1rem + 3vw, 2.15rem);

    --fw-reg: 400;
    --fw-link-btn: 600;
}

/* ------------------- */
/* CSS Reset           */
/* ------------------- */

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Prevent font size inflation */
html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
    margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style-type: "";
}

/* Set core body defaults */
body {
    min-height: 100vh;
    line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
    line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
    text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
    color: currentColor;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
    font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
    min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
    scroll-margin-block: 5ex;
}

/* ------------------- */
/* STYLING BEGINS      */
/* ------------------- */

body {
    font-size: var(--clr-body-bg);
    font-family: var(--ff-default), system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--clr-body-txt);
    background: var(--clr-body-bg);
    text-align: center;
}

body, main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

main { max-width: 90%; }

h1 {
    font-size: var(--fs-h1);
    color: var(--clr-h1);
    font-weight: var(--fw-reg);
    letter-spacing: 0.08em;
    margin: 2rem 0;
    line-height: 1;
}

p { font-size: var(--fs-p); }

.index__btn-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1.5rem 0;
}

.index__link {
    text-decoration: none;
    font-size: var(--fs-link-btn);
    font-weight: var(--fw-link-btn);
    border: none;
    border-radius: 0.4em;
    padding: 0.4em 0.75em;
    margin: 0.5rem;
    background: var(--clr-link-btn-bg);
    color: var(--clr-body-txt);
    text-transform: uppercase;
}

.index__link:hover {
    cursor: pointer;
    background: var(--clr-link-btn-hover);
    transition: 0.2s;
}

.index__link:focus {
    outline: 0.1em solid var(--clr-body-txt);
    outline-offset: -0.15em;
}