:root {
    --clr-body-bg: #212121;
    --img-body-bg: none;
    --clr-body-txt: #fceaff;
    --clr-content-bg: #000000;

    --clr-top-btn: #FFD05A;

    --clr-main-heading: #ffae00;
    --clr-sub-heading: #ffae00;
    --clr-title-border: #ffe387;
    --clr-bold-txt: #ff9933;
    --clr-link: #bb9671;
    --clr-link-hover: #94575a;
    --clr-quote-bg: #2f2d2d;
    --clr-quote-border: #4d4385;

    --clr-code-bg: #241445;
    --clr-code-border: #e4dbbe;
    --clr-dates: rgb(158, 203, 255);

    --clr-link-btn-bg: #873eb5;
    --clr-link-btn-txt: white;
    --clr-link-btn-hover: #241445;

    --clr-main-header-bg: black;
    --clr-navbar-bg: #171717;
    --clr-navbar-link: white;

    --clr-main-footer-bg: #171717;
}

.hero img {
    object-fit: cover;
    object-position: center;
}

.juhani-history {
    font-weight: 700;
    color: rgb(213, 98, 255);
}

.juhani-personal {
    font-weight: 700;
    color: rgb(255, 122, 206);
}

.info-field {
    font-weight: 700;
    color: rgb(213, 98, 255);
}