/* UTILITY CLASSES */
.bold-text { font-weight: 700; }
.center-text { text-align: center; }
.inline-img { display: inline-block; }
.update-info { margin-top: 3em; }

.indent-text {
    padding: 1em 0 1em 2em;
    display: grid;
    gap: 1em;
}

.date-style {
    font-weight: 700;
    color: var(--clr-dates);
}

.inline-icon {
    display: inline-block;
    vertical-align: -10%;
    height: 1em;
    fill: currentColor;
}
a > .inline-icon { padding-inline-end: .25em; }

.inline-list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.7em 1.5em;
}

.item-list {
    display: grid;
    gap: 1em;
    padding-left: 1em;
}

.item-list__title {
    font-size: var(--fs-h4);
    line-height: 1.3;
    margin-bottom: 0.2em;
}

.item-list__indent { margin: 0.3em 0 0 1.25em; }
.email-encoded b { display: none; }

.deflist-1col { grid-template-columns: unset; }
* + .deflist-1col { margin-block-start: var(--sz-def-indent); }
.deflist-1col dd {
    grid-column-start: unset;
    margin-left: var(--sz-def-indent);
}

.hidden { display: none; }

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border: 0;
    outline: 0;
    outline-offset: 0;
}