<ul>
    {% for content in contentList %}
        <li>
            <p class="item-list__title">
                <a href="{{ content.url }}">
                    {% if content.data.title %}{{ content.data.title }}
                    {% else %}
                        <code>{{ content.url }}</code>
                    {% endif %}
                </a>
            </p>
            <time>{{ content.date | formatDate }}</time>
        </li>
    {% endfor %}
</ul>

<style>
    .item-list {
        display: grid;
        gap: 1em;
        padding-left: 1em;
    }

    .item-list__title {
        font-size: clamp(1.55rem, 1rem + 3vw, 1.2rem);
        line-height: 1.3;
        margin-bottom: 0.2em;
    }
</style>
