---
layout: main/base
metadata:
    type: article
eleventyComputed:
    title: "{{ articleTitle }} | Articles"
---

<header class="main__header">
    <h1>{{ articleTitle }}</h1>
        <div class="article__info">
        <p>Posted on {{ date | niceDate }} by {{ sitemeta.siteAuthor.name }}
        {% if updated %}
            • Updated on {{ updated | niceDate }}</p>
        {% endif %}
        <p>{{ content | emojiReadTime }}</p>
    </div>
</header>

<div class="article__wrapper">
    {% if toc %}
        {% include "toc.njk" %}
    {% endif %}

    <article class="article">
        {{ content | safe }}
    </article>
</div>