---
layout: main/base
metadata:
    type: article
---

<header class="main__header">
    <ul class="breadcrumbs">
        {% set breadcrumbNavPages = collections.all | eleventyNavigationBreadcrumb(articleTitle) %}
        {%- for entry in breadcrumbNavPages %}
        <li>
            <a href="{{ entry.url }}" {% if entry.url == page.url %} class="breadcrumbs--active"{% endif %}>{{ entry.title }}</a>
        </li>
        ➔
        {%- endfor %}
    </ul>

    <h1>{{ articleTitle }}</h1>
    <div class="article__info">
        <p>Posted on {{ date | niceDate }} by {{ sitemeta.siteAuthor.name }}
        {% if updated %}
            • Last updated on {{ updated | niceDate }}</p>
        {% endif %}
        {% if categories %}
            <p>Categories:
                {% for cat in categories %}
                    <a href="/categories/{{ cat | slugify }}">{{ cat }}</a>{% if not loop.last %}, {% endif %}
                {% endfor %}
            </p>
        {% endif %}
        <p>{{ content | emojiReadTime }}</p>
    </div>
</header>

<div class="content__wrapper">
    {% if toc %}
        {% include "global/toc.njk" %}
    {% endif %}

    <article class="article">
        {{ content | safe }}
    </article>

    {% if tags and tags.includes("articles") or tags and tags.includes("posts") %}
        {% include "main/content-nav.njk" %}
    {% endif %}
</div>

<style>
    .breadcrumbs {
        justify-self: center;
        list-style: none;
        padding: 0;
        margin: 0 0 0.7em 0;
        display: flex;
        gap: 0.5em;
    }

    .breadcrumbs--active {
        text-decoration: none;
        color: var(--clr-bold-txt);
    }
</style>