---
layout: main/base
metadata:
    type: article
---

<header class="main__header">
    <h1>{{ articleTitle }}</h1>
    <div class="article__info">
        <p>Posted on {{ date | niceDate }} by {{ sitemeta.siteAuthor.name }}
        {% if updated %}
            • Updated on {{ updated | niceDate }}</p>
        {% endif %}
        <p>{{ content | emojiReadTime }}</p>
    </div>
</header>

<div class="content__wrapper">
    {% if toc %}
        {% include "global/toc.njk" %}
    {% endif %}

    <article class="article">
        {{ content | safe }}
    </article>

    {% if tags.includes("blog pages") %}
        {% include "blog/blognav.njk" %}
    {% endif %}
</div>