<!DOCTYPE html>
<html lang="en" dir="ltr" id="page-top">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {# Open Graph #}
        <meta property="og:url" content="https://leilukin.neocities.org/{{ meta_url }}">
        <meta property="og:type" content="website">
        <meta property="og:site_name" content="Leilukin's Hub">
        <meta property="og:title" content="{{ title }} | Leilukin's Hub">
        <meta property="og:description" content="{{ meta_description }}">

        {# CSS #}
        <link rel="stylesheet" href="{{'/assets/css/main.css' | url | safe}}">
        {% if toc %}
            <link rel="stylesheet" href="{{'/assets/css/toc.css' | url | safe}}">
        {% endif %}
        {% if sitemap %}
            <link rel="stylesheet" href="{{'/assets/css/sitemap.css' | url | safe}}">
        {% endif %}

        {# CDNs #}
        {% include "main/cdn.njk" %}

        {# Favicon #}
        <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">
        <link rel="manifest" href="/assets/favicon/site.webmanifest">

        {# JavaScript #}
        <script src="/assets/js/navbar.js" defer></script>
        <script src="/assets/js/events.js" defer></script>
        <script src="/assets/js/scroll.js" defer></script>
        {% if toc %} <script src="/assets/js/toc.js" defer></script> {% endif %}

        <title>{{ title }} | Leilukin's Hub</title>
    </head>
    <body>
        <button class="top-btn hidden" aria-label="Scroll to top">
            <img src="/assets/images/elements/top.svg" alt="">
        </button>

        {% include "main/header.njk" %}
        {% include "main/navbar.njk" %}
        <main>
            <!-- <aside class="left-sidebar">
                Left sidebar content here
            </aside> -->

            {{ content | safe }}

            <!-- <aside class="right-sidebar">
                Right sidebar content here
            </aside> -->
        </main>
        {% include "main/footer.njk" %}
    </body>
</html>