{% extends "global/baselayout.njk" %}

{% block hero %}{% include "main/hero.njk" %}{% endblock %}
{% block navbar %}{% include "main/navbar.njk" %}{% endblock %}
{% block footer %}{% include "main/footer.njk" %}{% endblock %}