{% for log in changelogList | reverse %}
    <div class="heading-wrapper h2">
        <h2 id="{{ log.fileSlug }}">{{ log.date | formatDate }}</h2>
        <a class="heading-anchor" href="#{{ log.fileSlug }}" aria-labelledby="{{ log.fileSlug }}"><span hidden="">#</span></a>
    </div>
    {{ log.templateContent | safe }}
{%- endfor %}
