---
layout: main/base
---

<header class="main__header">
    <h1>{{ pageTitle or title }}</h1>
    {% if desc %}
        <p>{{ desc }}</p>
    {% endif %}
</header>

<div class="content__wrapper">
    {% if toc %}
        {% include "global/toc.njk" %}
    {% endif %}

    {% if isArticle %}
        <article class="article">
            {{ content | safe }}
        </article>
    {% else %}
		<div class="content {{'content--divided' if isContentDivided }}">
			{{ content | safe }}
		</div>
    {% endif %}

    {% if title === "Articles" or tags and tags.includes("articles") or tags and tags.includes("blog pages") %}
        {% include "main/content-nav.njk" %}
    {% endif %}
</div>