---
layout: main/base
---

<header class="main__header">
    <h1>{{ pageTitle or title }}</h1>
    {% if intro %}
        <p>{{ intro }}</p>
    {% endif %}
</header>

<div class="content__wrapper">
    {% if toc %}
        {% include "toc.njk" %}
    {% endif %}

    <div class="content">
        {{ content | safe }}
    </div>
</div>