{% extends "global/footer.njk" %}

{% block footerContent %}
    <p>Made with ♥ by {{ sitemeta.siteAuthor.name }} since <time>11 September 2022</time></p>

    {% set currentUrl %}{{ page.url }}{% endset %}
    <ul class="footer__links">
        <li><a
            {% if currentUrl === "/sitemap/" %}aria-current="page"{% endif %}
            href="/sitemap/
        ">Site Map</a></li>
        <li><a
            {% if currentUrl === "/changelogs/" %}aria-current="page"{% endif %}
            href="/changelogs/"
        >Changelogs</a></li>
        <li><a href="/feed.xml">RSS</a></li>
    </ul>
{% endblock %}

