---
layout: main/content.njk
articleElement: true
isContentDivided: true
---
{% set linkGroups = collections["link groups"] %}

<section class="content__section">
    <h2>Link to My Website</h2>
    {% include "main/site-btn.njk" %}
</section>

<section class="content__section">
    <h2>Links by Category</h2>

    <p>Use the following tabs to view my link collection by category.</p>
    <nav>
        <ul class="tabs">
        {% for group in linkGroups %}
            <li><a class="tab__btn" href="#{{ group.data.title | slugify }}">{{ group.data.title }}</a></li>
        {%- endfor %}
        </ul>
    </nav>
</section>

<article class="tabwrap">
{% for group in linkGroups %}
    <section id="{{ group.data.title | slugify }}" class="content__section">
    {% headingAnchor 2 %}
        {{ group.data.title }}
    {% endheadingAnchor %}
        {{ group.templateContent | safe }}

    {% if group.data.updated %}
        <p style="margin-top: 3em;">(This list was last updated on {{ group.data.updated | formatDate }})</p>
    {% endif %}
        <a href="#linktabs" class="tab__btn" style="margin-top: 3em;">Back to tabs</a>
    </section>
{%- endfor %}
</article>