<div id="statuscafe" class="text-box">
    <h3>My Lastest Status</h3>
    <div id="statuscafe-username"></div>
    <div id="statuscafe-content"></div>
</div>
<script src="https://status.cafe/current-status.js?name=leilukin" defer></script>

<style>
    #statuscafe-content {
        margin: 0 0 0.5em 1em;
    }
</style>