<p>If you enjoy my work, you can support me on <a href="https://ko-fi.com/leilukin">Ko-Fi</a>.</p>
<div class="support-me">
    <!-- Ko-Fi button -->
    <a href="https://ko-fi.com/A1042UH4"><img src="/assets/buttons/misc/ko-fi.webp" alt="Buy Me a Coffee at ko-fi.com" width="141" height="36" loading="lazy"></a>
</div>

{%- css %}
.support-me {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    align-items: center;
    margin-top: 0.7em;
}
{% endcss %}
