<p>If you enjoy my work, you can support me on <a href="https://ko-fi.com/leilukin">Ko-Fi</a>.</p>
<div class="support-me">
    <!-- Ko-Fi button -->
    <script webc:keep webc:bucket="defer" type='text/javascript' src='https://storage.ko-fi.com/cdn/widget/Widget_2.js'></script>
    <script webc:keep webc:bucket="defer" type='text/javascript'>kofiwidget2.init('Support Me on Ko-fi', '#7A37A3', 'A1042UH4');kofiwidget2.draw();</script>
</div>

<style>
    .support-me {
        display: flex;
        flex-wrap: wrap;
        gap: 1em;
        align-items: center;
        margin-top: 0.7em;
    }
</style>