<section class="content__section">
    <h2>Virtual Pets</h2>
    <p>Feel free to check out my virtual pets and feed them!</p>
    <ul class="adoptables">
        <li data-tooltip>
            <a href="https://tamanotchi.world/13150c" data-tooltip-trigger title="My tamaNOTchi pet"><img src="https://tamanotchi.world/i2/13150" alt="It's my tamaNOTchi! Click to feed!" loading="lazy"></a>
        </li>
        <li data-tooltip>
            <a href="https://wobble.town/visit/2042" data-tooltip-trigger title="My Wobble Town pixel pet"><img src="https://wobble.town/visit/2042/wobble.gif" alt="My Wobble Town pixel pet" loading="lazy"></a>
        </li>
    </ul>
</section>