<ul>
    <li>My favourite food is: <a href="https://frankie.fanacular.net/food">Mushrooms</a></li>
    <li>My favourite hot bevarage is <a href="https://cliques.moudoku.com/hot">Coffee</a></li>
    <li><a href="http://cliqued.wings.nu/">OTF</a> <img src="/assets/cliques/OTF.png" alt="" style="display: inline-block;"> <a href="/shrines/cassettebeasts">Cassette Beasts</a></li>
    <li><a href="https://pkmn.caelestis.nu" rel="noopener noreferrer">I Choose You!</a> :: Breloom <img src="/assets/cliques/breloom.png" alt="Icon sprite of Breloom the Pokémon" style="display: inline-block;"></li>
</ul>