{%- css %}.color-bg { padding: 0.125em 0.3em; }{% endcss %}

{%- macro webCliqueImg(file, width, height, alt="") -%}
    <img src="/assets/cliques/{{ file }}" alt="{{ alt }}" class="inline-img" width="{{ width }}" height="{{ height }}" loading="lazy">
{%- endmacro -%}

<ul>
    <li>
        {{ webCliqueImg("30plusclub.gif", 88, 31) }}
        <a href="https://moonpr1sm.com/random/30plusclub">30+ Club</a>
    </li>
    <li><a href="http://aromatic.wings.nu/">aromatic</a> // lavender</li>
    <li><a href="http://cliqued.wings.nu/">rainbow</a> &#x1F308; <span class="color-bg" style="background-color: black; color: white;">black</span> and <span class="color-bg" style="background-color: purple; color: white;">purple</span></li>
    <li>My favourite food is: <a href="https://frankie.fanacular.net/food">Mushrooms</a></li>
    <li>My favourite hot bevarage is <a href="https://cliques.moudoku.com/hot">Coffee</a></li>
    <li>
        {{ webCliqueImg("caffeineNATION.png", 80, 15) }}
        <a href="https://caffeinated.wings.nu/">caffeineNATION</a> &#x2615;&#xFE0E; mocha latte
    </li>
    <li>
        <a href="http://cliqued.wings.nu/">OTF</a>
        {{ webCliqueImg("OTF.png", 15, 16) }}
        <a href="/shrines/cassettebeasts"><cite>Cassette Beasts</cite></a>
    </li>
    <li>
        <a href="https://ballonlea.net/trickyfox/">LINKED !</a>
        {{ webCliqueImg("linked.png", 20, 20) }}
        <a href="https://wiki.cassettebeasts.com/wiki/Meredith">Meredith Chen</a>
    </li>
    <li>
        My <a href="https://frankie.fanacular.net/otp">One True Pairing</a> is: Sam Wong and Michelle Cheung (<a href="/shrines/asummersend"><cite>A Summer’s End — Hong Kong 1986</cite></a>)
    </li>
    <li>
        <a href="https://starwars.fandom.com/wiki/Juhani">Juhani</a> is the <a href="https://cliques.moudoku.com/guardian">guardian</a> of this website
    </li>
    <li>
        <a href="http://cliqued.wings.nu/">unexpected song</a>
        {{ webCliqueImg("unexpectedsong.png", 16, 16) }}
        <a href="https://bulbapedia.bulbagarden.net/wiki/Steven_Stone">Steven Stone</a>
    </li>
    <li>
        <a href="https://pkmn.caelestis.nu" rel="noopener noreferrer">I Choose You!</a> :: Breloom
        {{ webCliqueImg("breloom.png", 23, 25) }}
    </li>
    <li>
        <a href="http://cliqued.wings.nu/">my jam!!</a>
        {{ webCliqueImg("myjam.png", 16, 16) }}
        <a href="https://www.youtube.com/watch?v=lP2-68Y0onM">"Same Old Story"</a>
    </li>
</ul>

<p>Pixel cliques I joined can be found on my <a href="/adoptables">Adoptables page</a>.</p>