<div class="web-btn-wrapper">
    <a href="https://kalechips.net/responsive/" title="Responsive Web">
        <img src="/assets/buttons/directories/responsiveweb.png" alt="Responsive Web Directory button">
    </a>
    <a href="https://pinkvampyr.leprd.space/accessiblenet/" title="Accessibility Net">
        <img src="/assets/buttons/directories/accessiblenet.png" alt="Accessible Net Directory button">
    </a>
</div>