<div class="web-btn-wrapper">
    <a href="https://kalechips.net/responsive/">
        <img src="/assets/buttons/directories/responsiveweb.png" alt="Responsive Web Directory button" title="Responsive Web Directory">
    </a>
    <a href="https://pinkvampyr.leprd.space/accessiblenet/">
        <img src="/assets/buttons/directories/accessiblenet.png" alt="Accessible Net Directory button" title="Accessibility Net Directory">
    </a>
</div>