<ul class="web-btn-wrapper">
    <li>
        <div id="autiring">
            <script type="text/javascript" src="https://macaque.moe/autiring/onionring-variables.js"></script>
            <script type="text/javascript" src="https://macaque.moe/autiring/onionring-widget.js"></script>
        </div>
    </li>
    <li>
        <nav class="webring">
            <p class="webring__name"><a href="https://cs.sjoy.lol/">CSS JOY Webring</a></p>
            <ul class="webring__links">
                <li class="webring__link">
                    <a href="https://webri.ng/webring/cssjoy/previous?via=https://leilukin.com/">Previous Site</a>
                </li>
                <li class="webring__link">
                    <a href="https://webri.ng/webring/cssjoy/random?via=https://leilukin.com/">Random Site</a>
                </li>
                <li class="webring__link">
                    <a href="https://webri.ng/webring/cssjoy/next?via=https://leilukin.com/">Next Site</a>
                </li>
            </ul>
        </nav>
    </li>
    <li>
        <div id='DykeWrite-Web2'> <script type="text/javascript" src="https://dykewrite.neocities.org/webring/onionring-variables.js"></script> <script type="text/javascript" src="https://dykewrite.neocities.org/webring/onionring-widget.js"></script> </div>
        <link rel="stylesheet" href="https://dykewrite.neocities.org/webring/onionring.css">
    </li>
    <li>
        <div id='focusfirst-webring'>
            <script type="text/javascript" src="https://owlsroost.xyz/webring/onionring-variables.js"></script>
            <script type="text/javascript" src="https://owlsroost.xyz/webring/onionring-widget.js"></script>
            <noscript><a href='https://owlsroost.xyz/index.html'><img src="https://owlsroost.xyz/webring/focusfirst.png" alt="Focus First Index"></a></noscript>
        </div>
    </li>
    <li>
        <journal-ring icon="lavender"></journal-ring><script async src="https://cdn.jsdelivr.net/gh/js044/nenrikido@main/static/js/misc/journalring.js"></script>
    </li>
    <li>
        <div style="border: none; display: inline-flex">
            <a href="https://isaacfish.neocities.org/webring/25.html">
                <img src="/assets/buttons/webrings/queercoded-left.png" alt="left arrow" loading="lazy">
            </a>&nbsp;
            <a href="https://isaacfish.neocities.org/webring/">
                <img src="/assets/buttons/webrings/queercoded.png" alt="queer coded webring" title="The Queer Coded Webring" loading="lazy">
            </a>&nbsp;
            <a href="https://isaacfish.neocities.org/webring/27.html">
                <img src="/assets/buttons/webrings/queercoded-right.png" alt="right arrow" loading="lazy">
            </a>
        </div>
    </li>
    <li>
        <script src="https://transring.neocities.org/ring.js" data-widget="nb"></script>
    </li>
</ul>