<div class="web-btn-wrapper">
    <div style="border: none; display: inline-flex"><a href="https://isaacfish.neocities.org/webring/25.html"><img src="/assets/webrings/queercoded-left.png" alt="left arrow"></a>&nbsp;<a href="https://isaacfish.neocities.org/webring/"><img src="/assets/webrings/queercoded.png" alt="queer coded webring" title="The Queer Coded Webring"></a>&nbsp;<a href="https://isaacfish.neocities.org/webring/27.html"><img src="/assets/webrings/queercoded-right.png" alt="right arrow"></a></div>
</div>
