---
layout: main/content
title: About
desc: About this website and its owner.
metadata:
    type: article
date: 2022-01-02
isContentDivided: true
eleventyNavigation:
    key: About
---

<section class="content__section">
    <h2>The Site</h2>

    <p>This website serves as a personal hub for my interests and self-expression, as well as my own corner on the internet outside social media platforms.</p>

    <p>On this site, you can find various stuff and resources I have created or compiled, as well as articles dedicated to my interests.</p>

    <p>While the primary purpose of this website is my own space of self-expression, I also want my website to be accessible to viewers. Therefore, I strive to design this website to be mobile-friendly and accessible to provide the best user experience.</p>

    <p>Feel free to drop a message and say hi on <a href="https://leilukin.123guestbook.com/" target="_blank">my guestbook</a>!</p>

    {% include "main/site-btn.njk" %}

    <p>If you also have a Neocities account, you can follow this site through its <a href="https://neocities.org/site/leilukin" target="_blank">Neocities profile</a>.</p>

    <img src="/assets/banners/hosted-by-neocities.png" alt="A website button with Penelope the cat, the mascot of Neocities, and the text 'hosted by neocities'" title="Hosted by Neocities" style="margin-top: 0.5em;">
</section>

<sectioin class="content__section">
    <h2>The Site Owner</h2>

    <img src="/assets/leilukin/leilukin-bee.png" alt="Avatar of a drawing of Leilukin bee" style="border-radius: 50%; width: 15rem; margin: 0.5em auto;">

    <p>You can call me Leilukin. I am a Malaysian Chinese non-binary lesbian born in the early 90s. My pronouns are they/she/他/她.</p>

    <p>I speak Mandarin, English, Cantonese and Malay, though I am most fluent in Mandarin and English.</p>

    <p>I am also autistic, so this website serves as a platform to catalogue my interests.</p>

    <p>Social media platforms you can find me on:<br>
    <i class="fa-brands fa-tumblr"></i> <a href="https://lesbiannova.tumblr.com/" target="_blank">Tumblr</a> |
    <i class="fa-brands fa-youtube"></i> <a href="https://www.youtube.com/Leilukin" target="_blank">YouTube</a> |
    <i class="fa-brands fa-twitter"></i> <a href="https://twitter.com/Leilukin" target="_blank">Twitter</a> |
    <i class="fa-brands fa-mastodon"></i> <a href="https://mstdn.social/@leilukin" target="_blank">Mastodon</a> |
    <i class="fa-brands fa-mastodon"></i> <a href="https://elekk.xyz/@leilukin" target="_blank">Mastodon (for gaming)</a> |
    <i class="fa-brands fa-bluesky"></i> <a href="https://bsky.app/profile/leilukin.bsky.social" target="_blank">Bluesky</a> |
    <i class="fa-brands fa-instagram"></i> <a href="https://www.instagram.com/leilukin" target="_blank">Instagram</a>
    </p>

    <p>However, I am most active on Tumblr, so if you want to interact with me on a social media platform, Tumblr would be the best option.</p>

    <p>I also have media catalogues online on the following platforms:<br>
    <i class="fa-brands fa-steam-symbol"></i> <a href="https://steamcommunity.com/id/leilukin/" target="_blank">Steam</a> |
    <i class="fa-solid fa-book-open"></i> <a href="https://app.thestorygraph.com/profile/leilukin" target="_blank">The StoryGraph</a>
    </p>

    <p>You can contact me via email: <a href="mailto:leilukin@outlook.com">leilukin@outlook.com</a>.</p>

    <p><a href="/now">Check out my Now page</a> to learn what I am doing right now.</p>

    {% include "main/support-me.njk" %}
</sectioin>
