---
title: Adoptables
desc: A collection of creatures and stuff I have adopted from other websites.
isContentDivided: true
eleventyNavigation:
    order: 7
---

<section class="content__section">
    <h2>Personal Website Adoptables</h2>
    <p>These are adopted from other personal websites.</p>

    <div class="adoptables">
        <a href="https://xandra.cc/" title="Diddles the raccoon by Alexandra">
            <img src="/assets/adoptables/diddles-alexandra.png" alt="Diddles the raccoon by Alexandra" loading="lazy">
        </a>
        <a href="https://lostletters.neocities.org/" title="Moomin pixel art by Lost Letters">
            <img src="/assets/adoptables/lostletters-moomin.png" alt="Moomin pixel art by Lost Letters" loading="lazy">
        </a>
    </div>
</section>

{% include "main/virtualpets.njk" %}