---
title: Adoptables
desc: A collection of creatures and stuff I have adopted from other websites.
isContentDivided: true
hasTooltips: true
eleventyNavigation:
    order: 8
---

{%- macro adoptable(url, file, alt, tooltip=alt) -%}
    <li data-tooltip>
        <a href="{{ url }}" data-tooltip-trigger title="{{ tooltip }}">
            <img src="/assets/adoptables/{{ file }}" alt="{{ alt }}" loading="lazy">
        </a>
    </li>
{%- endmacro -%}

<section class="content__section">
    <h2>Personal Website Adoptables</h2>
    <p>These are adopted from other personal websites.</p>

    <ul class="adoptables">
        {{ adoptable("https://xandra.cc/", "alexandra-diddles.png", "Diddles the raccoon by Alexandra") }}
        {{ adoptable("https://lostletters.neocities.org/", "lostletters-moomin.png", "Moomin pixel art by Lost Letters") }}
        {{ adoptable("https://pixels.elfwink.net/", "lou-tamagotchi.gif", "Tamagotchi pixel art by Lou") }}
        {{ adoptable("https://pixels.elfwink.net/", "lou-greenkaoani.gif", "Green kao-ani by Lou") }}
        {{ adoptable("https://pixel.wings.nu/", "wings-dolphinclassic.gif", "Dolphin classic by Rin") }}
        {{ adoptable("https://pixel.wings.nu/", "wings-rainbowmoon.png", "Rainbow moon by Rin") }}
    </ul>
</section>

<section class="content__section">
    <h2>Pixel Cliques</h2>

    <h3>The Apple</h3>
    <a href="https://pixelrevival.xyz/apple/"><img src="/assets/adoptables/pixelcliques/theapple.gif" alt="The Apple pixel clique" loading="lazy"></a>

    <h3>Made by a Girl</h3>
    <a href="https://lovesick.cafe/grrrl"><img src="/assets/adoptables/pixelcliques/madebyagirl.png" alt="Made by a Girl pixel clique" loading="lazy"></a>
</section>

<section class="content__section">
    <h2>32-Bit Cafe Code Jam: Destination Vacation</h2>
    <p>Stuff I collected from <a href="https://tilde.32bit.cafe/~ribose/events/destination/map.html">32-Bit Cafe's Community Code Jam #4: Destination Vacation</a> in June 2024, including a passport with stamps from the code jam entries, and extra goodies from some of the participants.</p>
    <ul class="adoptables">
        <li>
            <img src="/assets/adoptables/32bitcafe-vacation/passport.png" alt="32-Bit Cafe's Destination Vacation code jam passport with stamps" loading="lazy">
        </li>
        {{ adoptable("https://xandra.cc/codejam/vacation/", "32bitcafe-vacation/alexandra-stamp.png", "Alexandra's stamp") }}
        {{ adoptable("https://ribo.zone/sunday/fish/", "32bitcafe-vacation/ribose-riverfish.png", "Ribose's fishing button") }}
    </ul>
</section>

{% include "main/virtualpets.njk" %}