---
title: Adoptables
desc: A collection of creatures and stuff I have adopted from other websites.
isContentDivided: true
hasTooltips: true
eleventyNavigation:
    order: 8
---

{%- macro myPixelArt(file, alt, tooltip=alt) -%}
    <li data-tooltip>
        <img src="/assets/adoptables/{{ file }}" alt="{{ alt }}" data-tooltip-trigger title="{{ tooltip }}" loading="lazy" tabindex="0">
    </li>
{%- endmacro -%}

{%- macro adoptable(url, file, alt, tooltip=alt) -%}
    <li data-tooltip>
        <a href="{{ url }}" data-tooltip-trigger title="{{ tooltip }}">
            <img src="/assets/adoptables/{{ file }}" alt="{{ alt }}" loading="lazy">
        </a>
    </li>
{%- endmacro -%}

{% include "main/virtualpets.njk" %}

<section class="content__section">
    <h2>Personal Website Adoptables</h2>
    <p>These are adopted from other personal websites.</p>

    <ul class="adoptables">
        {{ adoptable("https://xandra.cc/", "alexandra-diddles.png", "Diddles the raccoon by Alexandra") }}
        {{ adoptable("https://lostletters.neocities.org/", "lostletters-moomin.png", "Moomin pixel art by Lost Letters") }}
        {{ adoptable("https://pixels.elfwink.net/", "lou-frog.gif", "Green frog by Lou") }}
        {{ adoptable("https://pixels.elfwink.net/", "lou-greenkaoani.gif", "Green kao-ani by Lou") }}
        {{ adoptable("https://pixels.elfwink.net/", "lou-maneki-neko.png", "Maneki neko (beckoning cat) by Lou") }}
        {{ adoptable("https://pixels.elfwink.net/", "lou-tamagotchi.gif", "Tamagotchi pixel art by Lou") }}
        {{ adoptable("https://pixel.wings.nu/", "wings-dolphinclassic.gif", "Dolphin classic by Rin") }}
        {{ adoptable("https://pixel.wings.nu/", "wings-rainbowmoon.png", "Rainbow moon by Rin") }}
    </ul>
</section>

<section class="content__section">
    <h2>Pixel Cliques</h2>

    <h3>The Apple</h3>
    <a href="https://pixelrevival.xyz/apple/"><img src="/assets/adoptables/pixelcliques/theapple.gif" alt="The Apple pixel clique" loading="lazy"></a>

    <h3>Made by a Girl</h3>
    <a href="https://lovesick.cafe/grrrl"><img src="/assets/adoptables/pixelcliques/madebyagirl.png" alt="Made by a Girl pixel clique" loading="lazy"></a>
</section>

<section class="content__section">
    <h2>Kitty Friends Pixel Club</h2>
    <p>An old pixel club about cats, revived by <a href="https://divergentrays.com/kitty">Divergent Rays</a>.</p>

    <h3>My Kitty Friends</h3>
    <ul class="adoptables">
        {{ myPixelArt("kittyfriends/leilukin-blackkitty.png", "Leilukin's black kitty friend") }}
        {{ myPixelArt("kittyfriends/leilukin-purplekitty.png", "Leilukin's purple kitty friend") }}
    </ul>
    <p>Created on 21 July 2024. If you want to adopt any of my kitty friends, please link back to my website and do not hotlink the images.</p>

    <h3>Adopted Kitty Friends</h3>
    <ul class="adoptables">
        {{ adoptable("https://artwork.neocities.org/cliques", "kittyfriends/artwork-bat.gif", "artwork's bat kitty") }}
        {{ adoptable("https://artwork.neocities.org/cliques", "kittyfriends/artwork-pumpkin.gif", "artwork's pumpkin kitty") }}
        {{ adoptable("https://artwork.neocities.org/cliques", "kittyfriends/artwork-vampire.gif", "artwork's vampire kitty") }}
        {{ adoptable("https://artwork.neocities.org/cliques", "kittyfriends/artwork-witch.gif", "artwork's witch kitty") }}
        {{ adoptable("https://sanguineroyal.com/com/pixelcliques/", "kittyfriends/krish.png", "Krish's kitty friend") }}
        {{ adoptable("https://owlsroost.xyz/", "kittyfriends/owl-small-owlcat.gif", "Owl's small owlcat", "It's an owl! It's a cat! It's an owlcat! Made by Owl") }}
        {{ adoptable("https://hillhouse.neocities.org/pixels", "kittyfriends/rosemary-ghostcat.gif", "rosemary's ghost cat") }}
        {{ adoptable("https://sakuradreams.neocities.org/", "kittyfriends/sakuradreams-Simba.gif", "Sakura Dream's Simba") }}
        {{ adoptable("https://solaria.neocities.org/", "kittyfriends/solaria-garfield.gif", "Solaria's Garfield art") }}
    </ul>
</section>

<section class="content__section">
    <h2>Salad Magazine</h2>
    <p><a href="https://zine.kalechips.net/index">Salad Magazine</a> is a web-based zine for creative works run by <a href="https://kalechips.net/">Kalechips</a>.</p>

    <h3><a href="https://zine.kalechips.net/issues/3/semper/index.html">Sparkle Snails</a></h3>
    <div class="adoptables">
        <img src="/assets/adoptables/salad-magazine/semper-inksnail-black.png" alt="Black snail pixel art by Semper" loading="lazy">
        <img src="/assets/adoptables/salad-magazine/semper-inksnail-sparkle.png" alt="Sparkle snail pixel art by Semper" loading="lazy">
    </div>
    <p>These snails were made by <a href="https://mycorrhiza.space/">Semper</a> for <a href="https://zine.kalechips.net/issues/3/">Issue 3</a>.</p>
</section>

<section class="content__section">
    <h2>32-Bit Cafe Code Jam: Destination Vacation</h2>
    <p>Stuff I collected from <a href="https://tilde.32bit.cafe/~ribose/events/destination/map.html">32-Bit Cafe's Community Code Jam #4: Destination Vacation</a> in June 2024, including a passport with stamps from the code jam entries, and extra goodies from some of the participants.</p>
    <ul class="adoptables">
        <li>
            <img src="/assets/adoptables/32bitcafe-vacation/passport.png" alt="32-Bit Cafe's Destination Vacation code jam passport with stamps" loading="lazy">
        </li>
        {{ adoptable("https://xandra.cc/codejam/vacation/", "32bitcafe-vacation/alexandra-stamp.png", "Alexandra's stamp") }}
        {{ adoptable("https://ribo.zone/sunday/fish/", "32bitcafe-vacation/ribose-riverfish.png", "Ribose's fishing button") }}
    </ul>
</section>