---
layout: main/base
title: Articles
metadata:
    desc: List of articles published on my website.
    type: article
---

<div class="content-container">
    <section class="content-section">
        <h1>Articles</h1>
        <p>List of articles I have written.</p>
    </section>

    <section class="content-section">
        <h2>Fandom Culture</h2>
        <ul class="article-list">
            <li><a href="/articles/my-dislike-of-shipping-culture">My Disinterest in Shipping and Dislike of Shipping Culture</a></li>
            <li><a href="/articles/designated-lesbian-syndrome-fandom">Designated Lesbian Syndrome in Fandom</a></li>
        </ul>
    </section>

    <section class="content-section">
        <h2>Specific Video Games with Their Own Pages</h2>
        <ul class="article-list">
            <li>My <cite>Cassette Beasts</cite> shrine <a href="/shrines/cassettebeasts/articles/">Articles</a> page</li>
            <li>My <cite>Star Wars: Knights of the Old Republic</cite> shrine <a href="/shrines/starwarskotor/articles/">Articles</a> page</li>
        </ul>
    </section>
</div>
