---
layout: main/content
title: Blog
desc: Blog hosted on Leilukin's personal website.
tags: blog pages
date: 2022-01-04
pageTitle: Welcome to Leilukin's Hub Blog!
blogNav: Blog Home
pagination:
    data: collections.posts
    size: 5
    alias: postList
    reverse: true
permalink: "/{{ page.fileSlug }}{% if pagination.pageNumber > 0 %}/page/{{ pagination.pageNumber + 1 }}{% endif %}/"
---

<ul class="blog__postlist">
    {% for post in postList %}
        <li>
            <h2 class="blog__title">
                <a href="{{ post.url }}">
                    {% if post.data.title %}{{ post.data.articleTitle }}
                    {% else %}
                        <code>{{ post.url }}</code>
                    {% endif %}
                </a>
            </h2>
            <time>{{ post.date | niceDate }}</time>
            <p>{{ post.data.desc }}</p>
        </li>
    {% endfor %}
</ul>

{% include "global/pagination-oldnew.njk" %}
