---
layout: main/changelogs
title: Changelogs
pageTitle: Website Changelogs
desc: Changelogs of my website.
metadata:
    type: article
date: 2023-01-09
pagination:
    data: collections["changelogs"]
    size: 20
    alias: changelogs
    reverse: true
permalink: "/{{ page.fileSlug }}{% if pagination.pageNumber > 0 %}/page/{{ pagination.pageNumber + 1 }}{% endif %}/"
---

<h2>Latest Changelogs</h2>
<article>
    {% for log in changelogs %}
        <h3>{{ log.data.date | niceDate }}</h3>
        {{ log.templateContent | safe }}
    {%- endfor %}
</article>

{% include "global/pagination-oldnew.njk" %}
