---
title: Guestbook
eleventyNavigation:
    key: Guestbook
    order: 9
eleventyComputed:
    desc: Leave a message for {{ sitemeta.siteAuthor.name }}.
---

<p class="center-text">Guestbook Archive: <a href="https://web.archive.org/web/20240528231121/https%3A%2F%2Fleilukin.123guestbook.com%2F">123Guestbook</a></p>

<p>Feel free to say hi and connect with me!</p>

<p>JavaScript is required for this guestbook to function. Special thanks to <a href="https://groundedwren.neocities.org/pages/demo_controls/guestbookDemo">Vera Konigin</a> for this guestbook widget!</p>

<gw-comment-form
    id="guestbookForm"
    titleText="Sign My Guestbook"
    encodedPath="MTI0MzI0MTMxMDY2NDY1OTA3Ni9KUU52ajM2OUJfZDhEaXB5b29VcllBN2dTZmQwMWxCY1ViNy1VNDVPVkxYa0hvRWtNRmRqclk1NTVCLVdaWUc5Q3dMMA=="
    fallbackEmail="{{ sitemeta.siteAuthor.email }}"
></gw-comment-form>

<h2 class="gb__messages--title">Guest Messages</h2>

<gw-comment-list
    gSpreadsheetId="1cFcSa6hnR_RtW5bemgb5PJl4RD9yFGty6qy8lhDNhUs"
    gSheetId="Guestbook"
    isNewestFirst="true"
    gwCommentFormId="guestbookForm"
></gw-comment-list>

<link rel="stylesheet" href="{{'/assets/css/svgIconControl.css' | url | safe}}">
<script src="/assets/js/svgIconControl.js"></script>

<script src="/assets/js/googleSheetsReaderGizmo.js"></script>
<link rel="stylesheet" href="{{'/assets/css/comments.css' | url | safe}}">

<script src="/assets/js/comments.js"></script>

<style>
    .gb__messages--title {
        text-align: center;
        margin-tbottom: 0.5em;
    }
</style>