---
title: Links
desc: A collection of links.
isContentDivided: true
eleventyNavigation:
    order: 8
---

<section class="content__section">
    <h2>Link to My Website</h2>

    {% include "main/site-btn.njk" %}
</section>

<section class="content__section">
    <h2>Personal Sites I Enjoy</h2>
    <ul class="web-btn-wrapper">
        <li>
            <a href="https://frills.dev/" title="Frills">
                <img src="/assets/buttons/sites/frills.png" alt="Frills">
            </a>
        </li>
        <li>
            <a href="https://groundedwren.com/" title="Grounded Wren">
                <img src="/assets/buttons/sites/groundedwren.png" alt="Grounded Wren">
            </a>
        </li>
        <li>
            <a href="https://kalechips.net/" title="Kalechips">
                <img src="/assets/buttons/sites/kalechips.png" alt="Kalechips">
            </a>
        </li>
        <li>
            <a href="https://owlsroost.xyz/" title="Owl's Roost">
                <img src="/assets/buttons/sites/owlsroost.gif" alt="Owl's Roost">
            </a>
        </li>
    </ul>
</section>

<section class="content__section">
    <h2>My Web Network</h2>

    <h3>Directories</h3>
    <ul class="web-btn-wrapper">
        <li>
            <a href="https://kalechips.net/responsive/">
                <img src="/assets/buttons/directories/responsiveweb.png" alt="Responsive Web Directory button" title="Responsive Web Directory">
            </a>
        </li>
        {# <li>
            <a href="https://pinkvampyr.leprd.space/accessiblenet/">
                <img src="/assets/buttons/directories/accessiblenet.png" alt="Accessible Net Directory button" title="Accessibility Net Directory">
            </a>
        </li> #}
    </ul>

    <h3>Webrings</h3>
    <ul class="web-btn-wrapper">
        <li>
            <div style="border: none; display: inline-flex">
                <a href="https://isaacfish.neocities.org/webring/25.html">
                    <img src="/assets/buttons/webrings/queercoded-left.png" alt="left arrow">
                </a>&nbsp;
                <a href="https://isaacfish.neocities.org/webring/">
                    <img src="/assets/buttons/webrings/queercoded.png" alt="queer coded webring" title="The Queer Coded Webring">
                </a>&nbsp;
                <a href="https://isaacfish.neocities.org/webring/27.html">
                    <img src="/assets/buttons/webrings/queercoded-right.png" alt="right arrow">
                </a>
            </div>
        </li>
        <li>
            <div id='focusfirst-webring'>
                <script type="text/javascript" src="https://owlsroost.xyz/webring/onionring-variables.js"></script>
                <script type="text/javascript" src="https://owlsroost.xyz/webring/onionring-widget.js"></script>
                <noscript><a href='https://owlsroost.xyz/index.html'><img src="https://owlsroost.xyz/webring/focusfirst.png" alt="Focus First Index"></a></noscript>
            </div>
        </li>
    </ul>

    <h3>Fanlistings</h3>
    <ul class="web-btn-wrapper">
        <li>
            <a href="https://glitterskies.org/kotor/" title="Erased Identity - Star Wars: Knights of the Old Republic fanlisting">
                <img src="/assets/buttons/fanlistings/kotor-100x50.png" alt="Website button of a Star Wars: Knights of the Old Republic fanlisting">
            </a>
        </li>
        <li>
            <a href="https://glitterskies.org/kotor2/" title="Mysteries of Malachor - Star Wars: Knights of the Old Republic 2: The Sith Lords fanlisting">
                <img src="/assets/buttons/fanlistings/kotor2-100x50.jpg" alt="Website button of a Star Wars: Knights of the Old Republic 2 fanlisting">
            </a>
        </li>
        <li>
            <a href="https://inspirationally.net/jedi/" title="Keepers of the Peace // the Star Wars: [+] Jedi fanlisting">
                <img src="/assets/buttons/fanlistings/jedi-100x50.png" alt="Website button of a Jedi fanlisting">
            </a>
        </li>
    </ul>
</section>

<section class="content__section">
    <h2>Link Exchanges</h2>
    <ul>
        <li><a href="https://theretrosaga.com/">The Retro Saga</a></li>
    </ul>
</section>
