---
layout: main/content
title: Links
desc: A collection of links.
metadata:
    type: article
isContentDivided: true
eleventyNavigation:
    order: 8
---

<section class="content__section">
    <h2>Link to My Website</h2>

    {% include "main/site-btn.njk" %}
</section>

<section class="content__section">
    <h2>My Web Network</h2>

    <h3>Webrings I Have Joined</h3>
    {% include "main/webrings.njk" %}

    <h3>Fanlistings I Have Joined</h3>
    <div class="web-btn-wrapper">
        <a href="https://glitterskies.org/kotor/"><img src="/assets/fanlistings/kotor-100x50.png" alt="A website button of a Star Wars: Knights of the Old Republic fanlisting" title="Erased Identity - Star Wars: Knights of the Old Republic fanlisting"></a>
        <a href="https://glitterskies.org/kotor2/"><img src="/assets/fanlistings/kotor2-100x50.jpg" alt="A website button of a Star Wars: Knights of the Old Republic 2 fanlisting" title="Mysteries of Malachor - Star Wars: Knights of the Old Republic 2: The Sith Lords fanlisting"></a>
        <a href="https://inspirationally.net/jedi/"><img src="/assets/fanlistings/jedi-100x50.png" alt="A website button of a Jedi fanlisting" title="Keepers of the Peace // the Star Wars: [+] Jedi fanlisting"></a>
    </div>
</section>

<section class="content__section">
    <h2>My Mod Builds</h2>
    <p>Lists of video game mods I use for my own playthroughs.</p>
    <ul class="article-list">
        <li><a href="https://docs.google.com/document/d/1Hhh_31ZlplT06UaVVwf1so7PnIBRCbT60tCBNn7zHiQ/edit">Mass Effect Legendary Edition</a></li>
        <li><a href="https://docs.google.com/document/d/1BTMJ1c-NOjU9q7qNftZac6jkOPluyucILglovcHtiaI/edit">Star Wars: Knights of the Old Republic</a></li>
        <li><a href="https://docs.google.com/document/d/15HbD-k-D8WHrp10IjIryAguhq7k2W94pkuGys7Z7xNM/edit">Star Wars: Knights of the Old Republic II: The Sith Lords</a></li>
        <li><a href="https://docs.google.com/document/d/1LMMd3yRtLYb35A7oNEN1hRUsoe9-vo2MfMxcM2Wq0MI/edit">Stardew Valley</a></li>
    </ul>

</section>
