---
layout: main/content
title: Site Map
eleventyExcludeFromCollections: true
eleventyComputed:
    desc: Site map of {{ sitemeta.siteName | safe }}.
---

<p>This page lists the links to the pages on my website for easier navigation.</p>

<ul role="list" class="sitemap">
    {% for page in collections.pages %}
        <li>
            <a href="{{ page.url }}">{{ page.data.title or page.data.metadata.title }}</a>
        </li>
        {% if page.data.title === "Blog" %}
            <ul>
                {% for page in collections["blog pages"] %}
                    {% if page.data.title !== "Blog" %}
                        <li>
                            <a href="{{ page.url }}">{{ page.data.title or page.data.metadata.title }}</a>
                        </li>
                    {% endif %}
                {%- endfor %}
            </ul>
        {% endif %}

        {% if page.data.title === "Articles" %}
            <ul>
                {% for page in collections["articles"] %}
                    <li>
                        <a href="{{ page.url }}">{{ page.data.articleTitle }}</a>
                    </li>
                {%- endfor %}
            </ul>
        {% endif %}

        {% if page.data.title === "Projects" %}
            <ul>
                {% for page in collections["project pages"] %}
                    <li>
                        <a href="{{ page.url }}">{{ page.data.title }}</a>
                    </li>
                {%- endfor %}
            </ul>
        {% endif %}

        {% if page.data.title === "Shrines" %}
            <ul>
                {% for page in collections["shrine home"] %}
                    <li>
                        <a href="{{ page.url }}">{{ page.data.title }}</a>
                    </li>
                    <ul>
                        {% if "asummersend" in page.url %}
                            {% for page in collections["a summers end shrine page"] %}
                                <li>
                                    <a href="{{ page.url }}">{{ page.data.title }}</a>
                                </li>
                            {% endfor %}
                        {% endif %}
                    </ul>
                {%- endfor %}
            </ul>
        {% endif %}
    {%- endfor %}

    <li><a href="/changelogs/">Changelogs</a></li>
    <ul>
        {% for page in collections["changelog pages"] %}
            <li>
                <a href="{{ page.url }}">{{ page.data.changelogNav }}</a>
            </li>
        {%- endfor %}
    </ul>

    {% for archive in collections.archive %}
        <li><a href="{{ archive.url }}">{{ archive.data.title }}</a></li>
    {% endfor %}
</ul>

<style>
    main ul {
        display: grid;
        gap: 0.5rem;
        margin-top: 0.3em;
    }

    .sitemap {
        margin: 1em 0;
        padding: 0 0 0 1em;
        list-style: none;
    }

    .sitemap a:focus {
        outline: 0.15rem solid var(--clr-link);
    }

    .sitemap li {
        padding-left: 0.5em;
        align-items: start;
    }

    .sitemap li::marker {
        content: "▶";
    }

    .sitemap ul {
        padding-left: 1.4em;
    }

    .sitemap ul li::marker {
        content: "★";
    }

    .sitemap ul ul li::marker {
        content: "♥";
    }

    .sitemap ul ul ul li::marker {
        content: "❣";
    }
</style>
