---
layout: main/content
title: Site Map
eleventyExcludeFromCollections: true
navigationOptions:
    listClass: "sitemap"
eleventyComputed:
    desc: Site map of {{ sitemeta.siteName | safe }}.
---

<p>Navigation for browsing {{ sitemeta.siteName }}.</p>

<h2>Subsites</h2>
<ul class="sitemap">
    <li><a href="https://tumbleblog.leilukin.com/">Tumbleblog</a></li>
    <li><a href="https://fan.leilukin.com/">Beehive - {{ sitemeta.siteAuthor.name }}'s Fanlisitng Collective</a></li>
</ul>

<h2>Main Site</h2>
{{ collections.all | eleventyNavigation | eleventyNavigationToHtml(navigationOptions) | safe }}

<style>
    main ul {
        display: grid;
        gap: 0.5rem;
        margin-top: 0.3em;
    }

    .sitemap {
        margin: 1em 0;
        padding: 0 0 0 1em;
        list-style: none;
    }

    .sitemap a:focus {
        outline: 0.15rem solid var(--clr-link);
    }

    .sitemap li {
        padding-left: 0.5em;
        align-items: start;
    }

    .sitemap li::marker {
        content: "▶";
    }

    .sitemap ul {
        padding-left: 1em;
    }

    .sitemap ul li::marker {
        content: "★";
    }

    .sitemap ul ul li::marker {
        content: "♥";
    }

    .sitemap ul ul ul li::marker {
        content: "❣";
    }
</style>
