@font-face {
    font-family: 'Nunito';
    src: url('/assets/fonts/Nunito-VariableFont_wght.ttf') format("truetype");
    font-weight: 125 950;
    font-stretch: 75% 125%;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito';
    src: url('/assets/fonts/Nunito-Italic-VariableFont_wght.ttf') format("truetype");
    font-weight: 125 950;
    font-stretch: 75% 125%;
    font-style: italic;
}

body {
    background-color: black;
    background-image: url('../img/bg_fingerlessGloves.png');
    background-position: top;
    background-repeat: repeat-x;
    background-attachment: fixed;
    font-size: 1.3rem;
    font-family: 'Nunito', Arial, sans-serif;
    margin: 0;
}

p {
    line-height: 1.6em;
}

strong {
    color: #5fc7cd;
}

img {
    max-width: 100%;
    height: auto;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.right {
    float: right;
    margin-left: 1em;
}

.left {
    float: left;
    margin-right: 1em;
}

.center {
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

@media only screen and (min-width: 37.5rem) {
    .small {
        max-width: 60%;
        height: auto;
    }
}

.caption {
    margin-top: 0;
    font-size: 0.9em;
    font-style: italic;
}

a {
    color: #ffc000;
}

a:hover { 
    background-color: #34220b;
}

h1, h2, h3, h4, h5 {
    color: #5fc7cd;
}

hr {
    border-width: 0.1rem 0 0 0;
    border-style: dashed;
    border-color: #a3bdc4; 
}

/*#CONTAINER is the rectangle that has contains everything but the background!*/
#container {
    margin: 3em auto;
    width: 90%;
    max-width: 68.75rem;
    background-color: black;
    color: #dddddd;
    outline-color: #425e74;
    outline-style: ridge;
    outline-width: 0.5rem;
    outline-offset: 0;
}

#content {
    padding: 0.5rem 5% 1rem 5%;
}


/*HEADER STYLE*/
#header {
    background-color: black;
    padding: 0 5%;
}

#header ul {
    display: inline-block;
    list-style-type: none;
    padding: 0;
    margin-bottom: 1em;
    margin-top: 1em;
}

#header li {
    font-size: 1.2em;
    display: inline-block;
    margin-right: 0.2em;
    margin-bottom: 0.8em;
    margin-top: 0.8em;
}

#header li a {
    color: #443;
    background-color: #b6b59e;
    border-width: 0.3em;
    border-style: outset;
    border-color: #86866d;
    padding: 0.3em 1.5em 0.2em 0.5em;
    text-decoration: none;
    font-weight: 900;
}

#header li a:hover {
    background-color: #ceccaa;
    border-color: #98987d;
}

#header li a:active {
    background-color: #8e8d74;
    border-color: #71715c;
    color: black;
}

/*POST LIST STYLE*/
#postlistdiv ul {
    font-size: 1.2em;
    padding: 0;
    list-style-type: none;
}

#recentpostlistdiv ul {
    font-size: 1.1em;
    padding: 0;
    list-style-type: none;
}

.moreposts {
    font-size: 0.8em;
    margin-top: 0.2em;
}

/*NEXT AND PREVIOUS LINKS STYLE*/
#nextprev {
    text-align: center;
    margin-top: 1.4em;
}

/*DISQUS STYLE*/
#disqus_thread {
    margin-top: 1.6em;
}

/*FOOTER STYLE*/
#footer {
    font-size: 0.8em;
    padding: 0 5% 0.5rem 5%;
}