---
pageTitle: Websites
date: 2023-01-28
updated: 2025-06-02T10:00:46+0800
desc: Websites I enjoy.
hasTooltips: true
excludeFromSearch: true
---
{{ import { siteButton } from "components/functions.vto" }}

<h2 class="visually-hidden">Websites with Buttons</h2>
<ul class="web-graphics">
    {{ siteButton("https://karma.computer/", "sites/10kph.png", "10kph") }}
    {{ siteButton("https://alyaza.neocities.org/", "sites/alyaza.gif", "alyaza's birzeblog") }}
    {{ siteButton("https://www.autisticasfxxk.com/", "sites/autisticasfxxk.gif", "Autistic As Fxxk") }}
    {{ siteButton("https://ballonlea.net/", "sites/ballonlea.png", "Ballonlea") }}
    {{ siteButton("https://www.beepbird.net/", "sites/beepbird.gif", "Beep Bird") }}
    {{ siteButton("https://chrisburnell.com/", "sites/chrisburnell.gif", "Chris Burnell") }}
    {{ siteButton("https://blog.darylsun.page/", "sites/darylsun.webp", "Daryl Sun's Journal") }}
    {{ siteButton("https://divergentrays.com/", "sites/divergentrays.png", "Divergent Rays") }}
    {{ siteButton("https://cyberneticdryad.neocities.org/", "sites/dryadglen.png", "Dryad Glen") }}
        {{ siteButton("https://fabled.day/", "sites/fabled.gif", "Fabled") }}
    {{ siteButton("https://frills.dev/", "sites/frills.png", "Frills") }}
    {{ siteButton("https://your-local-grubdog.neocities.org/", "sites/grubdog.png", "Grubdog") }}
    {{ siteButton("https://groundedwren.com/", "sites/groundedwren.png", "Grounded Wren") }}
    {{ siteButton("https://jasm1nii.xyz/", "sites/jasminesjournal.png", "jasmine's journal") }}
    {{ siteButton("https://jefbecker.com/", "sites/jefbecker.png", "JEFBECKER") }}
    {{ siteButton("https://kalechips.net/", "sites/kalechips.png", "Kalechips") }}
    {{ siteButton("https://amalinalai.github.io/precipice/", "sites/lina.gif", "lina's home") }}
    {{ siteButton("https://lostletters.neocities.org/", "sites/lostletters.gif", "Lost Letters") }}
    {{ siteButton("https://manyface.neocities.org/", "sites/manyface.png", "manyface world") }}
    {{ siteButton("https://melvian.net/", "sites/melvian.png", "Melvian.net") }}
    {{ siteButton("https://mycorrhiza.space/", "sites/mycorrhiza.png", "Mycorrhiza's Space") }}
    {{ siteButton("https://pinkvampyr.leprd.space/", "sites/pinkvampyr.gif", "Pinkvampyr") }}
    {{ siteButton("https://ribo.zone/", "sites/ribose.png", "Ribose") }}
    {{ siteButton("https://sakuradreams.neocities.org/", "sites/sakuradreams.gif", "Sakura Dreams") }}
    {{ siteButton("https://sanguineroyal.com/", "sites/sanguineroyal.gif", "Sanguine Royal") }}
    {{ siteButton("https://solaria.neocities.org/", "sites/solaria.png", "Solaria's Webspace") }}
    {{ siteButton("https://starbreaker.org/", "sites/starbreaker.avif", "🤘 starbreaker.org 🤘") }}
    {{ siteButton("https://symliadoo.com/", "sites/symliadoo.png", "sym's living room 🍨") }}
    {{ siteButton("https://whiona.me/", "sites/whiona.png", "Whiona") }}
    {{ siteButton("https://wings.nu/", "sites/wings.png", "Wings.NU") }}
    {{ siteButton("https://xandra.cc/", "sites/xandra.png", "Museum of Alexandra") }}
</ul>

<h2 class="visually-hidden">Websites without Buttons</h2>
<ul class="inline-list p-margin-top">
    <li><a href="https://www.eladnarra.com/">eladnarra's site</a></li>
    <li><a href="https://emmas.place/">Emma's place</a></li>
    <li><a href="https://home.hedy.dev/">~hedy's home</a></li>
    <li><a href="https://sarajoy.dev/">Sara Joy</a></li>
    <li><a href="https://saturn.town/">saturn town</a></li>
    <li><a href="https://stitchmediamix.com/">Stitch’s Media Mix</a></li>
    <li><a href="https://yequari.com/">yequari.com</a></li>
</ul>
