{% extends "global/baselayout.njk" %}

{% block metaTitle %}
    <meta property="og:title" content="{{ title + ' | ' if title }}Cassette Beasts Shrine">
{% endblock %}

{% block pageTitle %}
    {{ title + " | " if title }}Cassette Beasts Shrine | {{ sitemeta.siteName | safe }}
{% endblock %}

{% block customCSS %}
    <link rel="stylesheet" href="{{'/assets/css/cassettebeasts.css' | url | safe}}">
{% endblock %}

{% block favicon %}
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/shrines/cassettebeasts/images/cb-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/shrines/cassettebeasts/images/cb-icon.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/shrines/cassettebeasts/images/cb-icon.png">
    <link rel="manifest" href="/assets/favicon/site.webmanifest">
{% endblock %}

{% block hero %}{% include "cassettebeasts/hero.njk" %}{% endblock %}
{% block navbar %}{% include "cassettebeasts/navbar.njk" %}{% endblock %}
{% block footer %}{% include "cassettebeasts/footer.njk" %}{% endblock %}