{%- css %}{% include "src/assets/css/cassettebeasts.css" %}{%- endcss %}

{% extends "global/baselayout.html" %}

{% block metaTitle %}
<meta property="og:title" content="{{ title + ' | ' if title }}Cassette Beasts Shrine">
{% endblock %}

{% block pageTitle %}
{{ title + " | " if title }}Cassette Beasts Shrine | {{ sitemeta.siteName | safe }}
{% endblock %}

{% block favicon %}
<link rel="icon" type="image/x-icon" href="/assets/shrines/cassettebeasts/images/favicon.ico">
{% endblock %}

{% block hero %}{% include "cassettebeasts/hero.html" %}{% endblock %}
{% block navbar %}{% include "cassettebeasts/navbar.html" %}{% endblock %}
{% block footer %}{% include "cassettebeasts/footer.html" %}{% endblock %}
