{% extends "global/hero.njk" %}

{% block heroImg %}
    <picture>
        <source srcset="/assets/shrines/cassettebeasts/images/cassettebeasts-header-320.png" media="(orientation: landscape)" />
        <img src="/assets/shrines/cassettebeasts/images/cassettebeasts-header-640.png" alt="Banner of Cassette Beasts Shrine" />
    </picture>
{% endblock %}

{% block eventScript %}
    const todayEvent = getTodayEvent();

    if (todayEvent != "No event") {
        heroTopBarEl.classList.remove('hidden');
        heroTopBarEl.innerHTML = getBlurbHtml(todayEvent);
    }

    function getTodayEvent() {
        const date = new Date();
        const month = date.getMonth() + 1;
        const day = date.getDate();

        if (month == 4 && day == 26)
            return "CB Anniversary";
        else if (month == 10 && day == 4)
            return "Pier Anniversary";
        else
            return "No event";
    }

    function getBlurbHtml(day) {
        const currentYear = new Date().getFullYear();
        const cbReleaseDate = new Date("2023-04-26").getFullYear();
        const pierReleaseDate = new Date("2023-10-04").getFullYear();
        const cbAnniversary = currentYear - cbReleaseDate;
        const pierAnniversary = currentYear - pierReleaseDate;

        switch (day) {
            case "CB Anniversary":
                return `
                    Today is the ${cbAnniversary}-year anniversary of the release of <cite>Cassette Beasts</cite>!
                `;
                break;
            case "Pier Anniversary":
                return `
                    Today is the ${pierAnniversary}-year anniversary of the release of <cite>Pier of the Unknown</cite>, the first DLC expansion of <cite>Cassette Beasts</cite>!
                `;
                break;
            default:
                return ``;
        }
    }
{% endblock %}