{% extends "global/shrineinfo.html" %}

{% block shrineAbout %}
<p>Welcome to {{ sitemeta.siteAuthor.name }}'s shrine for {% cite "Cassette Beasts" %}, an indie monster collecting turn-based open-world role-playing video game developed by Bytten Studio and published by Raw Fury.</p>
{% endblock %}

{% block shrineLinks %}
<li><a href="https://www.cassettebeasts.com/">Official Website</a>
</li>
<li><a href="https://wiki.cassettebeasts.com/">Official Wiki</a></li>
<li><a href="https://store.steampowered.com/app/1321440/Cassette_Beasts/">Steam</a></li>
<li><a href="https://bytten-studio.com/">Bytten Studio</a></li>
<li><a href="https://fan.leilukin.com/cassettebeasts/">Cassette Beasts fanlisting</a></li>
{% endblock %}
