---
layout: main/changelogs
title: Changelogs
pageTitle: Website Changelogs
desc: Changelogs of my website.
pagination:
    data: collections["changelogs"]
    size: 20
    alias: changelogs
    reverse: true
permalink: "/{{ page.fileSlug }}{% if pagination.pageNumber > 0 %}/page/{{ pagination.pageNumber + 1 }}{% endif %}/"
eleventyNavigation:
    key: Changelogs
    order: 9
---

<h2>Latest Changelogs</h2>
{% for log in changelogs %}
<h3 class="date-style"><time datetime="{{ log.date }}">{{ log.date | formatDate }}</time></h3>
{{ log.content | safe }}
{%- endfor %}

{% include "global/pagination-oldnew.njk" %}

{%- css %}* + h2, * + h3 { margin-top: 1.5em; }{% endcss %}
