---
permalink: .htaccess
eleventyExcludeFromCollections: true
eleventyAllowMissingExtension: true
---
ErrorDocument 404 /404.html

<FilesMatch "\.(ico|svg|avif|webp|jpg|jpeg|png|gif|woff2)$">
Header set Cache-Control "max-age=31536000, public"
</FilesMatch>
<FilesMatch "\.(css|js)$">
Header set Cache-Control "no-cache, public"
</FilesMatch>

RewriteEngine on

# Block bad bots
{% for bot in robots.htaccess -%}
RewriteCond %{HTTP_USER_AGENT} ({{ bot | replace(" ", ".*") }}) [NC{% if not loop.last %},OR{% endif %}]
{% endfor -%}
RewriteRule .* https://nocommercialuse.org/ [L]