---
layout: "layouts/main.njk"
title: Home
meta_url: home
meta_description: Home page of Leilukin's Hub
---

<div class="content-container">
    <section class="content-section">
        <h1>Welcome!</h1>
        <p>Hello! You can call me Leilukin. Welcome to my website! This site is my own personal hub and corner on the internet.</p>
        <p>Feel free to drop a message and say hi on <a href="https://leilukin.123guestbook.com/" target="_blank">my guestbook</a>!</p>
        <p>You may use the <a href="/sitemap">site map</a> to quickly navigate this website.</p>
        <p>Enjoy your stay!</p>
    </section>

    <section class="content-section">
        <h2>Link to My Website</h2>

        <p>You can link to my website with this button:</p>

        <div class="site-btn__container">
            <div>
                <a href="https://leilukin.neocities.org/" target="_blank"><img src="/assets/leilukin/Leilukins-Hub-button.png" alt="Button of Leilukin's Hub" title="Leilukin's Hub"></a>
            </div>
            <textarea class="site-btn__textarea textarea-for-copy"><a href="https://leilukin.neocities.org/" target="_blank"><img src="https://leilukin.neocities.org/assets/leilukin/Leilukins-Hub-button.png" alt="Button of Leilukin's Hub" title="Leilukin's Hub"></a></textarea>
            <button class="copy-txt-btn">Copy HTML</button>
            <script>
                document.querySelector(".copy-txt-btn").onclick = () => {
                    document.querySelector(".textarea-for-copy").select();
                    document.execCommand('copy');
                }
            </script>
        </div>

        <p>Credit to <a href="https://github.com/hekate2" target="_blank">hekate2</a> for their <a href="https://hekate2.github.io/buttonmaker/" target="_blank">88x31 Web Button Maker</a>!</p>
    </section>

    <section class="content-section">
        <h2>Updates</h2>
        <div class="text-box">
            <p class="date-style">5 April 2024:</p>
            <ul>
                <li>Add table of contents to my <a href="/mycreations/kotor1mods/"><cite>Star Wars: Knights of the Old Republic</cite></a> and <a href="/mycreations/kotor2mods/"><cite>Star Wars: Knights of the Old Republic II: The Sith Lords</cite> mods</a>.</li>
            </ul>
            <p><a href="/changelog">View all site changelog</a></p>
        </div>
        <p>You can subscribe to the <a href="/feed.xml" target="blank">Leilukin's Hub RSS feed</a> or follow <a href="https://neocities.org/site/leilukin" target="_blank">my Neocities profile</a> to get notified of the updates on this website.</p>
        <div class="web-btn-wrapper">
            <a href="/feed.xml" target="blank" title="Leilukin's Hub RSS Feed">
                <img src="/assets/buttons/rss-button.gif" alt="RSS feed button">
            </a>
        </div>
    </section>

    <section class="content-section">
        <h2>Always Proud</h2>
        <div class="web-btn-wrapper">
            <img src="/assets/buttons/progress.png" alt="A website button of the 2018 Progress Flag" title="2018 Progress Flag by Daniel Quasar (2018)">
            <img src="/assets/buttons/9_stripe.png" alt="A website button of the 9 stripe rainbow flag" title="Nine-Stripe Rainbow Flag by Gilbert Baker (2017)">
            <img src="/assets/buttons/lesbian.png" alt="A website button of the lesbian pride flag" title="I am a lesbian">
            <img src="/assets/buttons/nonbinary.png" alt="A website button of the non-binary pride flag" title="I am non-binary">
            <img src="/assets/buttons/demigirl.png" alt="A website button of the demigirl pride flag" title="I am a demiwoman">
            <img src="/assets/buttons/agender.png" alt="A website button of the agender pride flag" title="I am agender">
            <img src="/assets/buttons/bigender.png" alt="A website button of the bigender pride flag" title="I am bigender">
        </div>
        <p>Credit to <a href="https://rainy.gay/pride/pridebuttons" target="_blank">Dime</a> for these pride buttons!</p>
    </section>

    <section class="content-section">
        <h2>Webrings</h2>
        <div style="border: none; padding: 5px; display: inline-flex"><a href="https://isaacfish.neocities.org/webring/25.html" target="_blank"><img src="/assets/webrings/queercoded-left.png" alt="left arrow"></a>&nbsp;<a href="https://isaacfish.neocities.org/webring/" target="_blank"><img src="/assets/webrings/queercoded.png" alt="queer coded webring" title="The Queer Coded Webring"></a>&nbsp;<a href="https://isaacfish.neocities.org/webring/27.html" target="_blank"><img src="/assets/webrings/queercoded-right.png" alt="right arrow"></a></div>
    </section>

    <section class="content-section">
        <h2>Support Me</h2>
        <p>If you enjoy my work, you can support me on Ko-Fi or Buy Me a Coffee:
            <script type='text/javascript' src='https://storage.ko-fi.com/cdn/widget/Widget_2.js'></script><script type='text/javascript'>kofiwidget2.init('Support Me on Ko-fi', '#7A37A3', 'A1042UH4');kofiwidget2.draw();</script><br><br>
            <script type="text/javascript" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js" data-name="bmc-button" data-slug="leilukin" data-color="#7a37a3" data-emoji=""  data-font="Cookie" data-text="Buy me a coffee" data-outline-color="#ffffff" data-font-color="#ffffff" data-coffee-color="#FFDD00" ></script>
        </p>
    </section>
</div>