---
layout: start/base
tags: pages
desc: Welcome to Leilukin's personal website.
eleventyComputed:
    h1: Welcome to {{ sitemeta.siteName | safe }}!
---

<section class="index__btn-wrapper">
    <a href="/home" class="index__link">Home Page</a>
    <a href="/sitemap" class="index__link">Site Map</a>
</section>

<footer>
    <a href="/feed.xml" target="blank" title="{{ sitemeta.siteName }} RSS Feed">
        <img src="/assets/buttons/rss-button.gif" alt="RSS feed button">
    </a>
</footer>