---
layout: main/content
tags: pages
metadata:
    title: Home
isContentDivided: true
eleventyNavigation:
    key: Home
    order: 1
eleventyComputed:
    pageTitle: Welcome to {{ sitemeta.siteName | safe }}!
    metadata:
        desc: Home page of {{ sitemeta.siteName | safe }}.
---

<section class="content__section">
    <p>Hello! You can call me {{ sitemeta.siteAuthor.name }}. Welcome to my website! This site is my own personal hub and corner on the internet.</p>

    <p>You can browse all my contents published on this site through the <a href="/archive">Archive</a> page, or the <a href="/categories">Content Categories</a> page. You can use the <a href="/sitemap">site map</a> to navigate this website.</p>

    <p>Feel free to drop a message and say hi on <a href="/guestbook">my guestbook</a>! You can also contact me by <a href="mailto:{{sitemeta.siteAuthor.email}}">sending me an email</a>.</p>

    <p>Read the <a href="/about">About</a> page to learn more about this site and its webmaster.</p>

    <p>Enjoy your stay!</p>
</section>

<section class="content__section">
    <h2>Link to My Website</h2>

    {% include "main/site-btn.njk" %}
</section>

<section class="content__section">
    <h2>What is New?</h2>

    <div class="text-box">
        <h3>Major News: 31 May 2024</h3>
        <p>{{ sitemeta.siteName }} now has a custom domain name: <code>leilukin.com</code>! Currently this site is hosted on both Netlify and Neocities.</p>
        <p>You can read <a href="/blog/posts/2024-05-31-domain-name-hosting-change-leilukins-hub">my blog post about the new domain name and hosting change</a> for more information.</p>
    </div>

    {% include "main/statuscafe.njk" %}

    <div class="text-box">
        {% for log in collections["changelogs"]  | reverse | itemLimit(1) %}
            <h3>Changelog: {{ log.data.date | formatDate }}</h3>
            {{ log.templateContent | safe }}
        {%- endfor %}
        <p><a href="/changelogs">View all site changelogs</a></p>
    </div>
    <p>You can subscribe to the <a href="/feed.xml">{{ sitemeta.siteName }} RSS feed</a> to get notified of the updates on this website.</p>
</section>

<section class="content__section">
    <h2>Always Proud</h2>
    <div class="flag-progress-intersex-lesbian" role="img" aria-label="Custom pride flag which combines the lesbian pride flag and the progress pride flag triangle" style="height: 20rem; margin-bottom: 1em;"></div>
    <div class="web-btn-wrapper">
        <img src="/assets/buttons/pride/progress.png" alt="Website button of the 2018 Progress Flag" title="2018 Progress Flag by Daniel Quasar (2018)">
        <img src="/assets/buttons/pride/9_stripe.png" alt="Website button of the 9 stripe rainbow flag" title="Nine-Stripe Rainbow Flag by Gilbert Baker (2017)">
        <img src="/assets/buttons/pride/lesbian.png" alt="Website button of the lesbian pride flag" title="I am a lesbian">
        <img src="/assets/buttons/pride/nonbinary.png" alt="Website button of the non-binary pride flag" title="I am non-binary">
        <img src="/assets/buttons/pride/demigirl.png" alt="Website button of the demigirl pride flag" title="I am a demiwoman">
        <img src="/assets/buttons/pride/agender.png" alt="Website button of the agender pride flag" title="I am agender">
        <img src="/assets/buttons/pride/bigender.png" alt="Website button of the bigender pride flag" title="I am bigender">
    </div>
    <p>Credit to <a href="https://rainy.gay/pride/pridebuttons">Dime</a> for these pride buttons!</p>
</section>

<section class="content__section">
    <h2>Support Me</h2>
    {% include "main/support-me.njk" %}
</section>

<section class="content__section">
    {# <h2>Directories</h2>
    {% include "main/webdirectories.njk" %} #}

    <h2>Webrings</h2>
    {% include "main/webrings.njk" %}
</section>
