---
layout: main/base
title: Site Map
eleventyExcludeFromCollections: true
metadata:
    desc: Site map of Leilukin's Hub.
---

<p>This page lists the links to the pages on my website for easier navigation.</p>

<ul role="list" class="link-list">
    {% for page in collections.pages %}
        <li>
            <a href="{{ page.url }}">{{ page.data.title or page.data.metadata.title }}</a>
            {% if page.data.title === "Blog" %}
                <ul>
                    {% for page in collections["blog pages"] %}
                        {% if page.data.title !== "Blog" %}
                            <li>
                                <a href="{{ page.url }}">{{ page.data.title or page.data.metadata.title }}</a>
                            </li>
                        {% endif %}
                    {%- endfor %}
                </ul>
            {% endif %}
            {% if page.data.title === "Articles" %}
                <ul>
                    {% for page in collections["articles"] %}
                        <li>
                            <a href="{{ page.url }}">{{ page.data.articleTitle }}</a>
                        </li>
                    {%- endfor %}
                </ul>
            {% endif %}
            {% if page.data.title === "Changelogs" %}
                <ul>
                    {% for page in collections["changelog pages"] %}
                        <li>
                            <a href="{{ page.url }}">{{ page.data.changelogNav }}</a>
                        </li>
                    {%- endfor %}
                </ul>
            {% endif %}
        </li>
    {%- endfor %}
</ul>

<style>
    main ul {
        display: grid;
        gap: 0.5rem;
    }

    .link-list {
        margin: 0 0 0 1em;
        padding: 0;
        list-style: none;
    }

    .link-list a:focus {
        outline: 0.15rem solid var(--clr-link);
    }

    .link-list li {
        padding-left: 0.5em;
        align-items: start;
    }

    .link-list li::marker {
        content: "▶";
    }

    .link-list ul li::marker {
        content: "★";
    }

    .link-list ul ul li::marker {
        content: "♥";
    }

    .link-list ul ul ul li::marker {
        content: "❣";
    }
</style>
