<!DOCTYPE html>
<html lang="{{ sitemeta.siteLanguage }}" dir="ltr" id="top">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        {# Open Graph Meta #}
        {% block metaTitle %}
        <meta property="og:title" content="{{ title if title else sitemeta.siteName | safe }}">
        {% endblock %}
        {% include "global/meta.njk" %}
        {# Feeds #}
        {% include "global/feeds.njk" %}
        {# Fonts #}
        {% include "global/fonts.njk" %}
        {# CSS #}
        {% include "global/css-bundle.njk" %}
        {% if hasTooltips %}
        <link rel="stylesheet" href="/assets/css/tooltips.css">
        {% endif %}
        <style>{% getBundle "css" %}</style>
        {# Favicon #}
        {% block favicon %}
        <link rel="icon" type="image/x-icon" href="/favicon.ico">
        {% endblock %}
        {# Verifications #}
        <link rel="me" href="https://dragonscave.space/@Leilukin">
        <link rel="me" href="https://github.com/Leilukin">
        <link rel="authorization_endpoint" href="https://indieauth.com/auth">
        {# JavaScript #}
        <script src="{% getBundleFileUrl 'js' %}" defer></script>
        {% if toc %}
        <script src="{{'/assets/js/details-utils.js'}}" defer></script>
        {% endif %}
        {% if hasCodeBlock %}
        <script src="/assets/js/copycode.js" defer></script>
        {% endif %}
        {% if hasTooltips %}
        <script src="/assets/js/tooltips.js" defer></script>
        {% endif %}

        <title>
            {% block pageTitle %}{{ title + " | " if title }}{{ sitemeta.siteName | safe }}{% endblock %}
        </title>
    </head>
    <body>
        <div class="skip-btn"><a href="#content">Skip to content</a></div>
        {% block hero %}{% include "global/hero.njk" %}{% endblock %}
        {% block navbar %}{% include "global/navbar.njk" %}{% endblock %}
        <main id="content">
            {{ content | safe }}
        </main>
        {% block footer %}{% include "global/footer.njk" %}{% endblock %}
    </body>
</html>
