<!DOCTYPE html>
<html lang="{{ sitemeta.siteLanguage }}" dir="ltr" id="top">
    <head>
        {# Meta data #}
    {% block metaTitle %}
        <meta property="og:title" content="{{ title if title else sitemeta.siteName | safe }}">
    {% endblock %}
        {% include "global/metagen.njk" %}

        {# Feeds #}
        {% include "global/feeds.njk" %}

        {# Fonts #}
        {% include "global/fontdefault.njk" %}
        <link rel="stylesheet" href="/assets/fonts/intel-one-mono/intel-one-mono.css">

        {# CSS #}
        {% include "global/css-bundle.njk" %}
    {% if hasTooltips %}
        <link rel="stylesheet" href="/assets/css/tooltips.css">
    {% endif %}
        <style>{% getBundle "css" %}</style>

        {# Favicon #}
        {% block favicon %}{% include "global/favicon.njk" %}{% endblock %}

        {# Verifications #}
        <link rel="me" href="mailto:contact@leilukin.com">
        <link rel="me" href="https://dragonscave.space/@Leilukin">
        <link rel="me" href="https://github.com/Leilukin">
        <link rel="authorization_endpoint" href="https://indieauth.com/auth">

        {# JavaScript #}
        <script src="{% getBundleFileUrl 'js' %}" defer></script>
    {% if toc %}
        <script src="{{'/assets/js/details-utils.js'}}" defer></script>
    {% endif %}

        <title>
            {% block pageTitle %}{{ title + " | " if title }}{{ sitemeta.siteName | safe }}{% endblock %}
        </title>
    </head>
    <body>
        <div class="skip-btn"><a href="#content">Skip to content</a></div>
        {% block hero %}{% include "global/hero.njk" %}{% endblock %}
        {% block navbar %}{% include "global/navbar.njk" %}{% endblock %}
        <main id="content">
            {{ content | safe }}
        </main>
        {% block footer %}{% include "global/footer.njk" %}{% endblock %}
        {% if hasTooltips %}
            <script src="/assets/js/tooltips.js"></script>
            <script>
                var selector = '[data-tooltip]';
                var els = document.querySelectorAll(selector);

                for ( var i = 0; i < els.length; i++ ) {
                    var dm = new ARIAtip( els[i] );
                }
            </script>
        {% endif %}
    </body>
</html>