{% set cssFiles = [
    "global",
    "general",
    "content",
    "plugins",
    "components",
    "a11y-syntax-highlighting-dark",
    "pridesymbols",
    "utility"
] %}

{%- for file in cssFiles -%}
<link rel="stylesheet" href="{{'/assets/css/' + file + '.css' | url | safe}}">
{%- endfor -%}