<footer class="footer">
    {%- block footerContent %}
        {{ footerContent }}
    {% endblock -%}

    {%- if tags and tags.includes("shrine pages") %}
        <p>Back to: <a href="/shrines/">Shrine Index</a> | <a href="/">{{ sitemeta.siteName }}</a></p>
    {%- endif -%}

    <p><a href="#page-top">Back to Top 🡱</a></p>
    {%- include "global/top-btn.njk" %}
</footer>

<style>
    .footer {
        margin-top: auto;
        width: 100%;
        background: var(--clr-main-footer-bg);
        padding: 1rem 1rem 3rem 1rem;
        text-align: center;
        display: grid;
        gap: 0.3em;
    }

    .footer p {
        padding: 0;
    }

    .footer__links {
        justify-self: center;
        list-style: none;
        text-align: center;
        margin: 0;
        padding: 0;
        display: flex;
        column-gap: 0.5em;
        flex-wrap: wrap;
        justify-content: center;
    }

    .footer__links li:not(:last-child)::after {
        content: '•';
        padding-left: 0.5em;
    }

    /* Screen sizes larger than mobile */
    @media only screen and (min-width: 30rem) {
        .footer {
            padding: 1rem 1rem 2rem 1rem;
        }
    }

    /* Tablet screen size */
    @media only screen and (min-width: 43.75rem) {
        .footer {
            padding: 1rem;
        }
    }
</style>