<footer class="footer">
    {% block footerContent %}
        {{ footerContent }}
    {% endblock %}
</footer>

<style>
    .footer {
        margin-top: auto;
        background: var(--clr-main-footer-bg);
        padding: 0.8rem;
        text-align: center;
        display: grid;
    }

    .footer p {
        padding: 0;
    }

    .footer__links {
        justify-self: center;
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        gap: 0.7em;
    }

    @media only screen and (min-width: 600px) {
        .footer {
            width: 100%;
        }
    }
</style>