{%- macro modEntry(params) -%}
{% headingAnchor 3 %}{{ params.title }}{% endheadingAnchor %}
<div class="mod-entry">
    <img src="/assets/projects/{{ params.bannerFile }}" alt="Banner of {{ params.title }} mod" loading="lazy">
    <p>{{ params.desc | safe }}</p>
    <h4>Download the mod:</h4>
    <div class="mod-entry__downloads">
        {%- for download in params.downloads -%}
            <a class="link-btn" href="{{ download.url }}">{{ download.site }}</a>
        {%- endfor -%}
    </div>
</div>
{%- endmacro -%}