{% metagen
    desc=desc or metadata.desc,
    url=sitemeta.siteUrl + page.url,
    locale=sitemeta.siteLocale,
    site_name=sitemeta.siteName,
    img=image,
    img_alt=alt,
    twitter_card_type=type,
    twitter_handle=twitter,
    generator=eleventy.generator
%}
