<p class="center-text">
    {% if pagination.href.previous %}
        <a href=" {{ pagination.href.previous }}">Newer</a>
    {% else %}
        Newer
    {% endif %}
    /
    {% if pagination.href.next %}
        <a href=" {{ pagination.href.next }}">Older</a>
    {% else %}
        Older
    {% endif %}
</p>
