{% extends "global/baselayout.njk" %}

{% block metaTitle %}
    <meta property="og:title" content="{{ title + ' | ' if title }}Star Wars: Knights of the Old Republic Shrine">
{% endblock %}

{% block pageTitle %}
    {{ title + " | " if title }}Star Wars: Knights of the Old Republic | {{ sitemeta.siteName | safe }}
{% endblock %}

{% block customCSS %}
    <link rel="stylesheet" href="{{'/assets/css/starwarskotor.css' | url | safe}}">
{% endblock %}

{% block favicon %}
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/starwarskotor/images/kotor-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/starwarskotor/images/kotor-icon.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/starwarskotor/images/kotor-icon.png">
    <link rel="manifest" href="/assets/favicon/site.webmanifest">
{% endblock %}

{% block name %}{% include "starwarskotor/hero.njk" %}{% endblock %}
{% block navbar %}{% include "starwarskotor/navbar.njk" %}{% endblock %}
{% block footer %}{% include "starwarskotor/footer.njk" %}{% endblock %}