{% extends "global/shrineinfo.njk" %}

{% block shrineAbout %}
    <p>Welcome to Leilukin's shrine for {% cite "Star Wars: Knights of the Old Republic" %}, a series of role-playing video games set in the {% cite "Star Wars" %} universe, taking place almost 4,000 years before the events of the Skywalker film saga.</p>
{% endblock %}

{% block shrineLinks %}
    <li><a href="https://kotor.neocities.org/">KOTOR Community Portal</a></li>
{% endblock %}
