{% extends "global/shrineinfo.njk" %}

{% block shrineAbout %}
<p>Welcome to {{ sitemeta.siteAuthor.name }}'s shrine for {% cite "Star Wars: Knights of the Old Republic" %}, a series of role-playing video games set in the {% cite "Star Wars" %} universe, taking place almost 4,000 years before the events of the Skywalker film saga.</p>
{% endblock %}

{% block shrineLinks %}
<li><a href="https://kotor.neocities.org/">KOTOR Community Portal</a></li>
<li><a href="https://glitterskies.org/kotor/"><cite>Star Wars: KotOR</cite> fanlisting</a></li>
<li><a href="https://glitterskies.org/kotor2/"><cite>Star Wars: KotOR II</cite> fanlisting</a></li>
{% endblock %}
