---
layout: main/changelogs
title: "Website Changelog Archive: 2022"
desc: Changelog of my website during the year of 2022.
changelogNav: 2022
metadata:
    type: article
date: 2022-02-02
---

{% set changelogList = collections["changelog 2022"] %}
{% include "main/changelog-list.njk" %}