---
layout: main/changelogs
title: "Website Changelog Archive: 2023"
desc: Changelog of my website during the year of 2023.
changelogNav: 2023
metadata:
    type: article
date: 2022-02-02
---

{% set changelogList = collections["changelog 2023"] %}
{% include "main/changelogs-list.njk" %}