---
layout: partials/changelogs
title: "Website Changelog Archive: 2025"
desc: Changelog of my website during the year of 2025.
changelogNav: "2025"
eleventyNavigation:
    order: 5
---

{{ set changelogList = collections["changelog 2025"] |> toReversed }}
{{ for log of changelogList }}
{{ headingAnchor 2, log.fileSlug }}
{{ log.date |> formatDate }}
{{ /headingAnchor }}

{{ log.content }}
{{ /for }}
