---
layout: main/changelogs
title: "Website Changelog Archive: 2025"
desc: Changelog of my website during the year of 2025.
changelogNav: 2025
eleventyNavigation:
    order: 5
---

{% set changelogList = collections["changelog 2025"] %}
{% include "main/changelogs-list.njk" %}