---
layout: asummersend/content
tags: shrine home
title: A Summer's End — Hong Kong 1986 Shrine
desc: My shrine for A Summer's End — Hong Kong 1986
isContentDivided: true
eleventyNavigation:
    key: A Summer's End Shrine
    parent: Shrines
    title: A Summer's End — Hong Kong 1986 Shrine
---

<section class="content__section">
    <h2>Welcome to Leilukin's <cite>A Summer's End — Hong Kong 1986</cite> Shrine!</h2>

    <img src="/assets/shrines/asummersend/images/ASE_Key_art_intro.png" alt="Promotional image of A Summer's End — Hong Kong 1986">

    <p><cite>A Summer's End — Hong Kong 1986</cite> is a visual novel developed by Oracle and Bone, a Canada-based independent studio consists of two Asian queer women, Charissa So and Tida Kietsungden. The visual novel tells of a lesbian romance story between Michelle Cheung, an office worker, and Sam Wong, a video store owner, that takes place in Hong Kong in the year of 1986.</p>

    <p>Initially released in English on 23 April 2020, <cite>A Summer's End</cite> has also been translated into Simplified Chinese, Traditional Chinese, Cantonese and Korean. The Chinese translations were released on 9 July 2021, while the Korean translation was released on 21 December 2023.</p>

    <p><cite>A Summer's End</cite> is available on <a href="https://store.steampowered.com/app/1111370/A_Summers_End__Hong_Kong_1986/" target="_blank">Steam</a> and <a href="https://oracleandbone.itch.io/a-summers-end" target="_blank">itch.io</a>. It also has an <a href="https://www.asummersend.com/" target="_blank">official website</a>.</p>

    <p>On 22 April 2023, a day before <cite>A Summer's End</cite>'s third year anniversary, Oracle and Bone <a href="https://www.asummersend.com/blog-intheocean/a-message-from-oracle-and-bone" target="blank">announced</a> a spiritual sequel: <a href="https://www.asummersend.com/about-intheocean" target="blank"><cite>In the Ocean I Learned to Float</cite></a>, which takes place in the winter of 1988, two years after the events of <cite>A Summer's End</cite>.</p>
</section>

<section class="content__section">
    <h2>How I Discovered <cite>A Summer's End — Hong Kong 1986</cite></h2>

    <img src="/assets/shrines/asummersend/images/ASE_Key_art_main.png" alt="Key art of A Summer's End — Hong Kong 1986">

    <p>I first learned about <cite>A Summer's End — Hong Kong 1986</cite> through <a href="https://linuxgameconsortium.com/a-summers-end-hong-kong-1986-just-announced/" target="_blank">Linux Game Consortium</a>, a Linux gaming news website. There was a period where I set up my gaming laptop to dual boot Windows 10 and Linux, so I ended up following Linux gaming news for a while. While Windows is still my main platform for gaming, the discovery of <cite>A Summer's End</cite> was the biggest unexpected benefit and surprise when I tried out Linux.</p>

    <p>As a lesbian, the premise of a visual novel about a sapphic romance already caught my interest, but what urged me to play it even more was the Hong Kong setting, which made my interest in the game personal, since I am a Cantonese-speaking Chinese lesbian who grew up with Hong Kong media. Not to mention, it is rare to see a fiction that tells of a sapphic love story that takes place in Hong Kong.</p>
</section>

<section class="content__section">
    <h2>Why <cite>A Summer's End — Hong Kong 1986</cite> Means a Great Deal to Me</h2>

    <img src="/assets/shrines/asummersend/screenshots/ASE-Screenshot-05.png" alt="Screenshot of A Summer's End with Sam and Michelle kissing">

    <p>As a Chinese lesbian who speaks Cantonese and had engaged with a lot of Hong Kong media during my teenage years, <cite>A Summer's End — Hong Kong 1986</cite> is the lesbian story that I relate to and feel represented the most.</p>

    <p>I relate to both the protagonists, Michelle and Sam, as their characters represent different parts of my life as a Chinese lesbian. I also relate to the story's theme of hoping for the future of our homeland despite the political uncertainties.</p>

    <p>My standards for lesbian representation in media has also become much higher because of this visual novel, since <cite>A Summer's End</cite> is also a perfect example of how some of the best representations of minority groups are actually found in media made by indie creators, especially those who are part of those minority groups, so we shouldn't rely on mainstream media for representation especially when big name media companies are going to just give us scraps.</p>

    <p>If you ask me to list just one piece of queer art that means everything to me, that gives me comfort, inspiration, and strength the most, <cite>A Summer's End</cite> would be it.</p>

    <p>I seriously cannot recommend <cite>A Summer's End</cite> enough, especially for Asian sapphic women.</p>
</section>
