---
layout: cassettebeasts/content
tags: shrine home
title: Cassette Beasts Shrine
isContentDivided: true
eleventyNavigation:
    key: Cassette Beasts Shrine
    parent: Shrines
eleventyComputed:
    desc: "{{ sitemeta.siteAuthor.name }}'s shrine for Cassette Beasts."
---
{% set imageAssetBaseUrl = '/assets/shrines/cassettebeasts/images/' %}

<section class="content__section">
    <h2>Welcome to My {% cite "Cassette Beasts" %} Shrine!</h2>
    <img src="{{ imageAssetBaseUrl }}CassetteBeasts_keyart_16_9.png" alt="Promotional image of Cassette Beasts" loading="lazy">
    <p>{% cite "Cassette Beasts" %} is a 2D/3D hybrid monster collecting open-world role-playing video game developed by Bytten Studio, an indie team based in Brighton, United Kingdom, co-founded by Jay Baylis and Tom Coxon, and published by Raw Fury.</p>

    <p>First released on Steam and Windows on 26 April 2023, later on console on 25 May 2023, {% cite "Casette Beasts" %} is available on Windows, Linux, Steam, Xbox Series X|S, Xbox One, Gamepass and Nintendo Switch.</p>

    <p>{% cite "Cassette Beasts" %} also has an <a href="https://www.cassettebeasts.com/">official website</a> and <a href="https://wiki.cassettebeasts.com/wiki/Main_Page" target="blank">official wiki</a>.</p>

    <p>You can buy {% cite "Cassette Beasts" %} from below links:</p>
    <ul>
        <li><a href="https://store.steampowered.com/app/1321440/Cassette_Beasts/">Steam</a>
        </li>
        <li><a href="https://www.xbox.com/en-us/games/store/cassette-beasts/9n82snqtzvmq">Xbox</a></li>
        <li><a href="https://www.nintendo.com/store/products/cassette-beasts-switch/">Nintendo Switch</a></li>
    </ul>
</section>

<section class="content__section">
    <h2>Why You Should Play {% cite "Cassette Beasts" %}</h2>

    <img src="{{ imageAssetBaseUrl }}cassettebeasts-website-header-bg.jpg" alt="Header of the Cassette Beasts official website" loading="lazy">

    <p>{% cite "Cassette Beasts" %} is a masterpiece of a monster collecting game with refreshing takes on the genre, from monster collecting mechanic, battle system, elemental type match ups, story, characters, lore, world building, map design, etc, with an amazing soundtrack that goes along with the game.</p>

    <p>Indie monster collecting games in particular need all the support they can get to let more people (especially Western audiences) know that {% cite "Pokémon" %} is not the only monster collecting game worth your attention, and {% cite "Cassette Beasts" %} is one of those indie games that prove indie games can be more creative than AAA games.</p>

    <p>I cannot recommend {% cite "Cassette Beasts" %} enough if you like monster collecting games, including, if not especially, if you like {% cite "Pokémon" %} but want an indie alternative, or something different after finding {% cite "Pokémon" %} games getting stale, or becoming jaded by the direction of the {% cite "Pokémon" %} games.</p>

    <p>If you need more convincing on how {% cite "Cassette Beasts" %} is much more than a {% cite "Pokémon" %} clone, <a href="/shrines/cassettebeasts/articles/cassette-beasts-more-than-a-pokemon-clone">I have written a huge essay on this shrine</a>.</p>
</section>

<section class="content__section">
    <h2>My Interest In {% cite "Cassette Beasts" %}</h2>

    <img src="{{ imageAssetBaseUrl }}cassettebeasts-website_screenshot_02.png" alt="Official screenshot of Harbourtown in Cassette Beasts" loading="lazy">

    <p>On 30 June 2023, when the Steam Summer Sale 2023 just started, I received {% cite "Cassette Beasts" %} as a Steam gift from a generous friend, who knew that I had been looking for independant monster collecting games, since I mostly play indie games instead of AAA games nowadays.</p>

    <p>I started my first playthrough of {% cite "Cassette Beasts" %} on 18 July 2023, and I was immediately hooked. I could already feel this game has everything I could ask for in an indie alternative to {% cite "Pokémon" %}.</p>

    <p>I ended up spending around 34 hours to beat the main campaign, and that was because I made the deliberate decision to max out the companion characters' relationship level before advancing to the final portion of the main story, since this game has more focus on human characters and relationships than what you may expect in a monster-collecting game.</p>

    <p>I love {% cite "Cassette Beasts" %} so much that I also purchased its Deluxe Edition, which includes the soundtrack, the art book and the Cosplay Pack as a birthday present for myself on 28 July 2023. In addition, I also <a href="/blog/posts/2023-10-13-My-Cassette-Beasts-Pombomb-Plushie-Arrived" target="blank">bought the official plushie of Pombomb</a>, my favourite monster from the game.</p>

    <p>Moreover, I ended up unlocking all 123 achievements on Steam on 13 March 2024. Very few RPGs make me want to unlock all the achievements, so it is telling how much I love {% cite "Cassette Beasts" %} that I am willing to spend time and effort to work for all the achievements.</p>

    <p>{% cite "Cassette Beasts" %} not only is my Game of the Year of 2023, but also it has become my absolute favourite monster collecting game, and even my all-time favourite video game ever.</p>
</section>

<section class="content__section">
    <h2>My Contributions to the {% cite "Cassette Beasts" %} Community</h2>

    <img src="{{ imageAssetBaseUrl }}cassettebeasts-website_screenshot_07.png" alt="Pre-release artwork of Kayleigh, Meredith and Eugene from Cassette Beasts" loading="lazy">

    <p>Since I got into {% cite "Cassette Beasts" %}, I have been making a great deal of effort in promoting the game online, by talking about and recommending the game on my online spaces, including this shrine on my website, as well as social media platforms such as Tumblr and Twitter.</p>

    <p>I am involved in the {% cite "Cassette Beasts" %} community by joining and participating in the <a href="https://discord.gg/byttenstudio" target="blank">official Bytten Studio Discord server</a>.</p>

    <p>In addition, my passion for {% cite "Cassette Beasts" %} drives me to contribute to the effort of documenting information about the game. I have recorded footages, made compilation videos and shared them on my YouTube channel for archival and reference purposes. I am also a contributor to the <a href="https://wiki.cassettebeasts.com/wiki/Main_Page" taregt="blank">official {% cite "Cassette Beasts" %} wiki</a>. You can check out <a href="https://www.youtube.com/channel/UCQr78DF60PrBsgh8rQnzBWg/playlists?view=50&sort=dd&shelf_id=5" target="blank">my {% cite "Cassette Beasts" %} video playlists on YouTube</a> and <a href="https://wiki.cassettebeasts.com/wiki/User:Leilukin" target="blank">my user page on the {% cite "Cassette Beasts" %} wiki</a>.</p>

    <p>Since I already had basic skills and knowledge of Python, I contributed my code to <a href="https://github.com/ExcaliburZero/cbpickaxe">cbpickaxe</a>, a Python library and set of scripts for data mining {% cite "Cassette Beasts" %}, specifically to <a href="https://github.com/ExcaliburZero/cbpickaxe/pull/3">add support for finding dialogue strings of IDs that require pronoun identifiers</a>. My code was approved and merged into cbpickaxe starting from <a href="https://github.com/ExcaliburZero/cbpickaxe/releases/tag/v0.1.2">version 0.1.2</a>.</p>

    <p>On Tumblr, I run the <a href="https://cassettebeastssource.tumblr.com/">Cassette Beasts Source</a> blog, an unofficial {% cite "Cassette Beasts" %} fan site blog that I founded on 25 February 2024. I created a fan site blog on Tumblr due to the fact that Bytten Studio does not have an official Tumblr account, and I want a Tumblr blog dedicated to sharing and archiving {% cite "Cassette Beasts" %} news and fan works.</p>

    <p>I have also contributed to <a href="https://tvtropes.org/pmwiki/pmwiki.php/VideoGame/CassetteBeasts">{% cite "Cassette Beasts" %} TVTropes pages</a> (I have had a TVTRopes account since 18 February 2012), by editing the pages to add information about the game. I was the one who created the <a href="https://tvtropes.org/pmwiki/pmwiki.php/Trivia/CassetteBeasts">Trivia page</a> for the game on TVTropes.</p>
</section>

