---
layout: starwarskotor/content
tags: shrine home
title: "Star Wars: Knights of the Old Republic Shrine"
isContentDivided: true
eleventyNavigation:
    key: KotOR Shrine
    parent: Shrines
    title: "Star Wars: Knights of the Old Republic Shrine"
eleventyComputed:
    desc: "{{ sitemeta.siteAuthor.name }}'s shrine for Star Wars: Knights of the Old Republic series."
---

<section class="content__section">
    <h2>Welcome to My {% cite "Star Wars: Knights of the Old Republic" %} Shrine!</h2>

    <img src="/assets/shrines/starwarskotor/images/swkotor-header.jpg" alt="Cover art compilation of Star Wars: Knights of the Old Republic series" loading="lazy">

    <p>{% cite "Star Wars: Knights of the Old Republic" %} ({% cite "KotOR" %}) is a space opera role-playing video game series. The series takes place in the fictional universe of {% cite "Star Wars" %}, with the story taking place approximately 4,000 years before the rise of the Galactic Empire.</p>
    <p>The first title was developed by BioWare while the second ({% cite "Star Wars: Knights of the Old Republic II: The Sith Lords" %}) was done by Obsidian Entertainmenr. Both games were published by LucasArts. The {% cite "KotOR" %} series also includes a subsequent new comic book series. Both comic series were published by Dark Horse Comics and act as prequels to the video games.</p>
    <p>To learn more about the {% cite "Star Wars: Knights of the Old Republic" %} series, you can check out the <a href="https://kotor.neocities.org/" target="blank">KotOR Community Portal</a>.</p>
</section>

<section class="content__section">
    <h2>My History with the {% cite "KotOR" %} Series</h2>

    <p>I had been a {% cite "Star Wars" %} fan since I was 13 in 2005 after watching {% cite "Revenge of the Sith" %} in cinema. However, I was not aware of the existence of the {% cite "Knights of the Old Republic" %} video game series until around 2010, after seeing other {% cite "Star Wars" %} fans on Baidu Tieba talked about those games. I started playing the first {% cite "KotOR" %} game in early 2011, immediately followed by {% cite "KotOR 2" %}, and the series has been one of my special interests ever since.</p>

    <p>I was hooked immediately to the {% cite "KotOR" %} series when I played them. The first {% cite "KotOR" %} game was the first Western RPG I had played. I was drawn to the games' story and characters and the games' focus on them, since the {% cite "KotOR" %} series was also the most story-heavy games I played at the time. KotOR was also the first video game I played where you can pursue a romance with a character, which was a concept that blew my young mind at the time, because before {% cite "KotOR" %}, I thought a romance between your player character and an NPC you like could only exist in imagination via shipping or fanfiction.</p>

    <p>My investment in the {% cite "KotOR" %} series has evolved over time, leading to me learning to mod the games and become a modder.</p>
</section>

<section class="content__section">
    <h2>My History with {% cite "KotOR" %} Modding</h2>

    <p>I began to use and get interested in {% cite "KotOR" %} mods since the mid-2010s, in no small part thanks to <a href="https://deadlystream.com/files/file/578-tsl-restored-content-mod/">The Sith Lords Restored Content Mod (TSLRCM)</a>, which is widely regarded as an essential mod for the best experience with {% cite "KotOR 2" %}, as the game's rushed development led to many contents being cut from the game. This led me to discover more {% cite "KotOR" %} mods hosted on <a href="https://deadlystream.com/">Deadly Stream</a>, which include the developers of TSLRCM, and <a href="https://www.gamefront.com/">GameFront</a>.</p>

    <p>In the mid-2010s, the {% cite "KotOR" %} fan circle I was involved in on Tumblr also included modders, who inspired me to learn to create mods myself. I did not have any programming exprience when I started learning modding {% cite "KotOR" %}, so it took practice to learn and understand the modding tutorials on Deadly Stream and the now-defunct LucasForums (R.I.P.).</p>

    <p>The very first {% cite "KotOR" %} mod I created was <a href="https://deadlystream.com/files/file/1012-tsl-improved-party-outfits/">TSL Improved Party Outfits</a> in 2015, though initially I only meant it for personal use, until I released it to the public on 4 February 2017. The first {% cite "KotOR" %} mod I released to the public was <a href="https://deadlystream.com/files/file/968-visas-marr-and-female-exile-romance/">Visas Marr and Female Exile Romance</a> on 15 December 2016.</p>

    <p>Making same-gender romance mods for {% cite "KotOR 2" %} was the primary motivation for me to make and release {% cite "KotOR" %} mods myself. I was immensely frustrated by the total lack of same-gender romance mods for any of the {% cite "KotOR 2" %} characters, and every other LGBTQ+ {% cite "KotOR" %} fans I have interacted with on Tumblr share the same sentiment. Therefore, I decided to stop waiting for {% cite "KotOR 2" %} same-gender romance mods to happen, and be the change myself. To my great satisfication, my same-gender romance mods have been well-received, with fellow LGBTQ+ players expressing gratitude for their existence. My <a href="https://deadlystream.com/forum/files/file/977-handmaiden-and-female-exile-disciple-and-male-exile-romance/">Handmaiden and Female Exile - Disciple and Male Exile Romance</a> mod would go on to win the <a href="https://deadlystream.com/topic/5983-mod-of-the-year-results/">Mod of the Year 2017</a> award on Deadly Stream.</p>

    <p>I love modding the {% cite "KotOR" %} games, not only because the games are a special interest of mine, but also I love creating things for my interests. Modifying the games made me feel like I have the power to change the game to make them better and more enjoyable, and thus improve my experience with playing the games.</p>

    <p>You can check out all the {% cite "KotOR" %} mods I have created, including <a href="/projects/kotor1mods">{% cite "KotOR 1" %} mods</a> and <a href="/projects/kotor2mods">{% cite "KotOR 2" %} mods</a>, on my main site's <a href="/projects/#my-video-game-mods">Projects</a> pages.</p>
</section>
