---
title: Joined
isContentDivided: true
hasTooltips: true
toc: true
excludeFromSearch: true
eleventyNavigation:
    order: 9
eleventyComputed:
    desc: "{{ sitemeta.siteName }}'s membership across the web."
---
{{ import { siteButton } from "components/functions.vto" }}

<section class=content__section>
    {{ headingAnchor 2 }}Web Directories{{ /headingAnchor }}
    <h3 class=visually-hidden>Directories with Site Buttons</h3>
    <ul class=web-graphics>
        {{ siteButton("https://pinkvampyr.leprd.space/accessiblenet/", "directories/accessiblenet.png", "Accessibility Net Directory") }}
        {{ siteButton("https://bukmark.club/", "directories/bukmarkclub.png", "BUKMARK.CLUB") }}
        {{ siteButton("https://indieseek.xyz/", "directories/indieseek.png", "Indieseek.xyz Indie Web Directory") }}
        {{ siteButton("https://linklane.net/", "directories/linklane.png", "Link Lane") }}
        {{ siteButton("https://list-me.com/", "directories/list-me.png", "List-Me.com") }}
        {{ siteButton("https://kalechips.net/responsive/", "directories/responsiveweb.png", "Responsive Web Directory") }}
        {{ siteButton("https://smoothsailing.asclaria.org/", "directories/smoothsailing.png", "Smooth Sailing Listings") }}
    </ul>
    <h3 class=visually-hidden>Directories without Site Buttons</h3>
    <ul class="inline-list p-margin-top">
        <li><a href=https://zacharykai.net/lists/queer>Queer Web Directory</a></li>
        <li>👻 Proud member of <a href=https://darktheme.club/>darktheme.club</a> 👻</li>
        <li><a href=https://personalsit.es/>PersonalSit.es</a></li>
    </ul>
</section>

<section class=content__section>
    {{ headingAnchor 2 }}Web Cliques{{ /headingAnchor }}
    {{ include "components/webcliques.vto" }}
</section>

<section class=content__section>
    {{ headingAnchor 2 }}Fanlistings{{ /headingAnchor }}
    <p>Check out <a href="https://fan.leilukin.com/">Beehive, my fanlisting collective</a> to see all the fanlistings I own, have joined or have applied to join.</p>
</section>

<section class=content__section>
    {{ headingAnchor 2 }}Communities{{ /headingAnchor }}
    <ul class=web-graphics>
        {{ siteButton("https://32bit.cafe/", "communities/32-bit-cafe.png", "32-Bit Cafe") }}
        {{ siteButton("https://zine.kalechips.net/index", "communities/saladmagazine.png", "Salad Magazine") }}
    </ul>
</section>

<section class=content__section>
    {{ headingAnchor 2 }}Webrings{{ /headingAnchor }}
    <ul class=web-graphics>
        <li>
            <script src=https://astroring.auroradynia.com/ring.js></script>
        </li>
        <li>
            <div id=autiring>
                <script type=text/javascript src=https://ballonlea.net/autiring/onionring-variables.js></script>
                <script type=text/javascript src=https://ballonlea.net/autiring/onionring-widget.js></script>
            </div>
        </li>
        <li>
            <iframe id=bucket-webring style="width: 100%; height: 3rem; border: none;" src=https://webring.bucketfish.me/embed.html?name=Leilukin></iframe>
        </li>
        <li>
            <nav class=webring aria-labelledby=css-joy-name>
                <p class=webring__name id=css-joy-name><a href=https://cs.sjoy.lol/>CSS JOY Webring</a></p>
                <ul class=webring__links>
                    <li class=webring__link><a class=external-link href=https://webri.ng/webring/cssjoy/previous?via=https://leilukin.com/>Previous Site</a></li>
                    <li class=webring__link><a class=external-link href=https://webri.ng/webring/cssjoy/random?via=https://leilukin.com/>Random Site</a></li>
                    <li class=webring__link><a class=external-link href=https://webri.ng/webring/cssjoy/next?via=https://leilukin.com/>Next Site</a></li>
                </ul>
            </nav>
        </li>
        <li>
            <link rel=stylesheet href=https://dsring.neocities.org/onion/onionring.css>
            <div id=dsring>
                <script type=text/javascript src=https://dsring.neocities.org/onion/onionring-variables.js></script>
                <script type=text/javascript src=https://dsring.neocities.org/onion/onionring-widget.js></script>
            </div>
        </li>
        <li>
            <div id=DYKENET>
                <script type=text/javascript src=https://testtubesterone.nekoweb.org/pages/dykenet/onionring-variables.js></script>
                <script type=text/javascript src=https://testtubesterone.nekoweb.org/pages/dykenet/onionring-widget.js></script>
            </div>
        </li>
        <li>
            <script src=https://eggring.neocities.org/js/hatring.js></script><script src=https://eggring.neocities.org/js/eggring-config.js></script>
            <script>
                document.addEventListener("DOMContentLoaded", function() { eggring.createLinks(); });
            </script>
            <nav class=webring aria-labelledby=eggring-name>
                <p class=webring__name id=eggring-name>🥚 <a id=eggringIndex href=https://eggring.neocities.org/>The Eggring</a> 🥚</p>
                <ul class=webring__links>
                    <li class=webring__link><a id=eggringPrev href=https://confetticake.neocities.org/>Previous Site</a></li>
                    <li class=webring__link><a id=eggringRand>Random Site</a></li>
                    <li class=webring__link><a id=eggringNext href="https://thecozy.cat/">Next Site</a></li>
                </ul>
            </nav>
        </li>
        <li>
            <nav class=webring aria-labelledby=fediring-name>
                <p class=webring__name id=fediring-name><a href=https://fediring.net/>Fediring</a></p>
                <ul class=webring__links>
                    <li class=webring__link><a class=external-link href=https://fediring.net/previous?host=leilukin.com class=external-link>Previous Site</a></li>
                    <li class=webring__link><a class=external-link href=https://fediring.net/random>Random Site</a></li>
                    <li class=webring__link><a class=external-link href=https://fediring.net/next?host=leilukin.com class=external-link>Next Site</a></li>
                </ul>
            </nav>
        </li>
        <li>
            <div id=focusfirst-webring>
                <script type=text/javascript src=https://www.beepbird.net/webring/onionring-variables.js></script>
                <script type=text/javascript src=https://www.beepbird.net/webring/onionring-widget.js></script>
                <noscript><a href=https://www.beepbird.net/index.html><img src=https://www.beepbird.net/webring/focusfirst.png alt="Focus First Index"></a></noscript>
            </div>
        </li>
        <li>
            <nav class=webring aria-labelledby=ghostring-name>
                <p class=webring__name id=ghostring-name><a href=https://ghostring.neocities.org/>Ghostring</a></p>
                <ul class=webring__links>
                    <li class=webring__link><a href=https://ghostring.neocities.org/leilukin/previous>Previous Site</a></li>
                    <li class=webring__link><a href=https://ghostring.neocities.org/leilukin/next>Next Site</a></li>
                </ul>
            </nav>
        </li>
        <li>
            <nav class=webring aria-labelledby=indieweb-webring-name>
                <p class=webring__name id=indieweb-webring-name>An <a href=https://xn--sr8hvo.ws>IndieWeb Webring</a> 🕸💍</p>
                <ul class=webring__links>
                    <li class=webring__link><a href=https://xn--sr8hvo.ws/previous>Previous Site</a></li>
                    <li class=webring__link><a href=https://xn--sr8hvo.ws/next>Next Site</a></li>
                </ul>
            </nav>
        </li>
        <li>
            <journal-ring icon=lavender></journal-ring><script async src=https://cdn.jsdelivr.net/gh/js044/nenrikido@main/static/js/misc/journalring.js></script>
        </li>
        <li>
            <p style="text-align: center;">
                This site is part of the <a href=https://meta-ring.hedy.dev/>Meta Ring</a>:<br/>
                [<a href=https://meta-ring.hedy.dev/previous>← Previous</a>]
                [<a href=https://meta-ring.hedy.dev/random>Random</a>]
                [<a href=https://meta-ring.hedy.dev/next>Next →</a>]
            </p>
        </li>
        <li>
            <qtpoc-webring>
                <a href=https://qtpoc-ring.netlify.app/previous><<</a>
                <a href=https://qtpoc-ring.netlify.app/random>?</a>
                <span>QTPOC Webring</span>
                <a href=https://qtpoc-ring.netlify.app>#</a>
                <a href=https://qtpoc-ring.netlify.app/next>>></a>
            </qtpoc-webring>
            <script async="" charset="utf-8" src="https://qtpoc-ring.netlify.app/embed.js"></script>
        </li>
        <li>
            <div style="border: none; display: inline-flex">
                <a href=https://isaacfish.neocities.org/webring/25.html>
                    <img src=/assets/buttons/webrings/queercoded-left.png alt="left arrow" loading=lazy>
                </a>&nbsp;
                <a href=https://isaacfish.neocities.org/webring/>
                    <img src=/assets/buttons/webrings/queercoded.png alt="queer coded webring"loading=lazy>
                </a>&nbsp;
                <a href=https://isaacfish.neocities.org/webring/27.html>
                    <img src=/assets/buttons/webrings/queercoded-right.png alt="right arrow" loading=lazy>
                </a>
            </div>
        </li>
        <li>
            <nav class=webring aria-labelledby=retronaut-name>
                <p class=webring__name id=retronaut-name><a href=https://ghostring.neocities.org/>The retronaut webring</a></p>
                <ul class=webring__links>
                    <li class=webring__link><a class=external-link href=https://webring.dinhe.net/prev/https://leilukin.com/>Previous Site</a></li>
                    <li class=webring__link><a class=external-link href=https://webring.dinhe.net/next/https://leilukin.com/>Next Site</a></li>
                </ul>
            </nav>
        </li>
        <li>
            <script src=https://mxbo.neocities.org/rss/webring.js></script>
        </li>
        <li>
            <script src="https://safonts.club/webring.js"></script>
            <ring-900></ring-900>
        </li>
        <li>
            <iframe src=https://silly.city/embed.html?user=leilukin title="silly.city webring" frameborder=no></iframe>
        </li>
        <li>
            <nav class=webring aria-labelledby=starwars-name>
                <p class=webring__name id=starwars-name><a href=https://zacharykai.net/lists/starwars>Star Wars Webring</a></p>
                <ul class=webring__links>
                    <li class=webring__link><a class=external-link href=https://zacharykai.net/lists/starwars?action=prev>Previous Site</a></li>
                    <li class=webring__link><a class=external-link href=https://zacharykai.net/lists/starwars?action=random>Random Site</a></li>
                    <li class=webring__link><a class=external-link href=https://zacharykai.net/lists/starwars?action=next>Next Site</a></li>
                </ul>
            </nav>
        </li>
        <li>
            <div id=verbosity>
                <script type=text/javascript src=https://fabled.day/verbosity/onionring-variables.js></script>
                <script type=text/javascript src=https://fabled.day/verbosity/onionring-widget.js></script><link rel=stylesheet href=https://fabled.day/verbosity/onionring.css>
            </div>
        </li>
        <li>
            <link rel=stylesheet type=text/css href=https://file.garden/ZrZSgsrYfQXsO7QH/ww/webmasterwebring.css>
            <map name=badge-wwstamp>
                <area shape=rect coords=66,38,79,49 href=https://webmasterwebring.netlify.app?leilukin-previous alt="Previous>
                <area shape=rect coords=78,29,90,40 href=https://webmasterwebring.netlify.app?leilukin-next alt="Next">
                <area shape=rect coords=13,15,63,47 href=https://webmasterwebring.netlify.app alt="Webmaster Webring">
            </map>
            <img usemap=#badge-wwstamp id=ww-stamp src=https://file.garden/ZrZSgsrYfQXsO7QH/ww/stamp.png alt="Webmaster Webring" width=99 height=56>
        </li>
    </ul>
</section>

