<meta prperty="og:title" content="{{ articleTitle ? articleTitle : title ? title : sitemeta.siteName }}">
<meta name=generator content="{{ eleventy.generator }}">
<meta name=fediverse:creator content="{{ sitemeta.fediverseHandle }}">
<meta name=description content="{{ desc }}">
<meta property=og:site_name content="{{ sitemeta.siteName }}">
<meta property=og:type content="{{ (isArticle || articleElement) ? "article" : "website" }}">
<meta property=og:url content="{{ sitemeta.siteUrl }}{{ page.url }}">
<meta property=og:image content="{{ sitemeta.siteUrl }}/assets/leilukin/leilukins-hub-meta-img.png">
<meta name=theme-color content=#3d2163>
